.exchanges, .vendors {
  &--item {
    border: 2px solid #e7e7e7;
    box-shadow: 0 0 rem(5px) rgba(0, 0, 0, .06);
    display: flex;
    margin-bottom: 1rem;
    padding: rem(15px);
    transition: all .2s ease-in-out;
    background: #ffffff;

    &:hover {
      border-color: #04a5f0;
      box-shadow: 0 0 rem(19px) rgba(0, 0, 0, .18);
      cursor: pointer;
    }

    &__logo {
      margin-right: rem(15px);
      width:40px;

      @media (max-width: 778px) {
        width:55px;
      }
      @media (max-width: 635px) {
        width:110px;
      }

      img {
        width: 100%;
        max-height: 40px;

        @media (max-width: 778px) {
          max-height:55px;
        }
        @media (max-width: 635px) {
          max-height:none;
        }
      }
    }

    &__name {
      display: flex;
      flex-direction: column;

      h4 {
        color: #000;
        font-size: rem(18px);
        line-height: rem(18px);
        margin-bottom: 0;
      }

      span {
        color: #797979;
        font-size: rem(13px);

        &:last-of-type {
          color: #b3b3b3;
          font-size: rem(13px);
        }
      }
    }
  }
}

.vendors {
  &--item {
    &__name {
      h4 {
        font-size: 0.85rem;
      }
    }
  }
}
