# build output
dist
.next
out/

# dependencies
node_modules

# lockfiles
# (don't ignore when ready for production)
package-lock.json
yarn.lock

# logs
*.log

# coverage
.nyc_output

# test output
test/**/out
.DS_Store
locales/**/*.missing.json
