.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider__wrapper {
  height: 100%;
  list-style: none;
  overflow: hidden;
  *zoom: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  padding:0;
  margin:0;
}
.slider__item {
  height: 100%;
  float: left;
  clear: none;
  background-size: cover;
  background-position: center
}
.slider__arrows-item {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
  cursor: pointer;
}
.slider__arrows-item {
  position: absolute;
  display: block;
  margin-bottom: -25px;
  padding: 20px;
  cursor: pointer; z-index: 100;
  width:87px;
  height: 87px;
  text-indent: -5000px;
  border-radius: 50%;
  background: rgba(21,35,58,0.4);
}

.slider__arrows-item--right {
  bottom: 50%;
  right: 30px;
}
.slider__arrows-item--right:before {
  display:block;
  position:absolute;
  top: 25px;
  left: 37px;
  font-family: Flaticon;
  content: '\e857';
  text-indent: 0;
  font-size:40px;
  line-height:40px;
  color:#fff;
}
.slider__arrows-item--left {
  bottom: 50%;
  left: 30px;
}
.slider__arrows-item--left:before {
  display:block;
  position:absolute;
  top: 25px;
  left: 33px;
  font-family: Flaticon;
  content: '\e856';
  text-indent: 0;
  font-size:40px;
  line-height:40px;
  color:#fff;
}
.slider__nav {
  position: absolute;
  bottom: 30px;
}
.slider__nav-item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
}
.slider__nav-item--current {
  background: #ccc;
}
.slider__nav-item:hover {
  background: #ccc;
}

