/*
* Records Templates Style
*/
/* Table of Content
==================================================
	#Custom Fonts
	#Site Styles
	#Media Queries
	#Animations
*/

/* #Custom Fonts

================================================== */
/* Google font */
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,600,700);
/* #Site Styles
================================================== */

html, html a {
	-webkit-font-smoothing: antialiased
}
html {
	-ms-overflow-style: scrollbar
}
body {
	font: 1.29em/1.29em 'Arimo', sans-serif;
	color: #c6d5e3;
	background: url(../images/body-bg-dark.png) repeat 0 0 #000
}
a, a:active, a:focus, a:hover, a:visited {
	color: #c6d5e3;
	outline: 0
}
a:active, a:focus, a:visited {
	text-decoration: none
}
p {
	margin: 0 0 1em;
	padding: 0;
	line-height: 1.4em
}
p strong {
	color: #fff;
}
h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h6, h6 a {
	color: #fff;
	font-family: 'Cabin', sans-serif;
	line-height: 1.3em;
	font-weight: 600;
}
h1 {
	margin: 0;
	padding: 0 0 1.3em;
	font-size: 1.538em;
	text-transform: uppercase;
}
h2 {
	margin: 0;
	padding: 0 0 1.3em;
	font-size: 1.538em;
	text-transform: uppercase;
}
h3 {
	margin: 0;
	font-size: 1.385em;
	padding: 0 0 0.8em;
	text-transform: uppercase;
}
h4 {
	margin: 0;
	padding: 0 0 .8em;
	font-size: 1.231em;
	text-transform: uppercase;
}
h5 {
	margin: 0;
	padding: 0 0 .8em;
	font-size: 1.077em;
	text-transform: uppercase;
}
h6 {
	margin: 0;
	padding: 0 0 .8em;
	font-size: 1.077em;
}
.default-font {
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
}
.default-font span {
	color: #acafb8;
	text-transform: none;
}
/* services styles */
.img-left {
	float: left;
	margin: 0 10px 10px 0;
}
.img-right {
	float: right;
	margin: 0 0 15px 10px;
}
.upper {
	text-transform: uppercase
}
.line-divider {
	border-bottom: 1px solid #eee;
	height: 20px;
	margin-bottom: 30px
}
.divider-xxs {
	margin: 0;
	height: 1px;
	line-height: 1px;
	clear: both
}
.divider-xs {
	height: 11px;
	line-height: 11px;
	clear: both
}
.divider-sm {
	height: 20px;
	clear: both
}
.divider-md {
	height: 30px;
	clear: both
}
.divider-lg {
	height: 40px;
	clear: both
}
.panel-group .panel {
	border-radius: 0
}
.color, .color:hover {
	color: #6e8fff
}
.underline {
	text-decoration: underline
}
.underline:hover {
	text-decoration: none
}
.icon-float-left {
	width: 114px;
	float: left;
	margin-right: 10px;
}
.text-float-right {
	height: 100px;
	display: table;
	padding-top: 15px;
}
.text-float-right .inside {
	height: 100px;
	display: table-cell;
	vertical-align: middle;
}
/*circle icon*/
.icon-circle {
	background: #e2e2e2;
	border-radius: 50%;
	color: #fff;
	display: block;
	height: 101px;
	width: 101px;
	margin: 10px auto 15px
}
.icon-circle .icon {
	font-size: 4.167em;
	line-height: 98px
}
.icon-circle {
	height: 95px;
	width: 95px;
	background: #6e8fff;
	text-align: center;
	transition: all 0.5s 0s ease;
	-webkit-transition: all 0.5s 0s ease;
	-moz-transition: all 0.5s 0s ease;
	-o-transition: all 0.5s 0s ease
}
.icon-circle a {
	text-decoration: none !important;
	color: #fff;
}
.icon-circle:hover, .icon-circle.active {
	background: #fff;
}
.icon-circle:hover .icon, .icon-circle.active .icon {
	color: #6e8fff;
}
.icon-circle .icon.flaticon-clipboard105 {
	margin: -2px 0 0 12px;
}
/* form */
label {
	font-weight: normal;
	margin-bottom: 4px
}
label .required {
	color: inherit
}
label.label-inline {
	display: inline-block;
	line-height: 37px
}
.form-control {
	height: 37px;
	padding: 10px 12px;
	background-color: #000;
	border: 1px solid #2f313a;
	color: #fff;
	padding-left: 10px;
	-webkit-box-shadow: none;
	box-shadow: 0 0 1px rgba(0,0,0,0.15);
	font-size: 1em;
	line-height: 1em;
	border-radius: 4px;
}
.form-inline .form-control {
	display: inline-block;
	width: auto;
}
.form-control::-webkit-input-placeholder {
padding:1px 0
}
.input-sm {
	font-size: 1em;
	border-radius: 4px
}
.form-group-sm {
	margin-bottom: 7px;
	position: relative
}
.input-control input.form-control {
	font-size: 1em;
	width: 262px
}
.input-control .button {
	float: right;
	margin-left: -34px;
	background: 0 0;
	font-size: 1.5em;
	position: relative;
	bottom: -1px;
	height: 35px;
	border: none;
	width: 34px;
	outline: 0;
	color: #6e8fff;
}
.touch .input-control .button span {
	margin-left: -10px
}
.input-control .button:active {
	line-height: .8em
}
.touch input[type=email], .touch input[type=password], .touch input[type=search], .touch input[type=text] {
	-webkit-appearance: caret;
	-moz-appearance: caret
}
.radio input[type=radio] {
	position: relative;
	display: inline;
	margin-top: 0
}
.checkbox label, .radio label {
	line-height: 1em
}
.radio {
	margin-bottom: 12px;
}
/*contact form*/

.contacts-form textarea.form-control {
	height: 154px;
	resize: none;
}
/*comment form*/
.comment {
	position: relative;
}
.comment .inside {
	padding: 10px 15px 10px 100px;
	position: relative;
}
.comment .inside::before {
	background: #292a31;
	color: #3b3c42;
	border: 1px solid #292a31;
	content: "\e847";
	display: block;
	font-family: Flaticon;
	font-size: 4.153em;
	height: 74px;
	width: 74px;
	top: 10px;
	left: 10px;
	line-height: 1.4em;
	position: absolute;
	text-align: center;
}
.comment p strong { 
	color:#fff
}
.comment a {
	color: #6e8fff;
	text-decoration: none;
}
.comment a:hover {
	text-decoration: underline;
}
.comment p {
	margin-bottom: 0.7em;
}
.comments .comment {
	padding-left: 30px
}
.comment .comment::before {
	color: #cecece;
	content: "\e852";
	display: block;
	font-family: Flaticon;
	font-size: 1.538em;
	line-height: 1em;
	top: 10px;
	left: 10px;
	position: absolute;
}
.comment-form textarea.form-control {
	height: 154px;
	resize: none;
}
/*button*/
.btn-sm, .btn-xs {
	border-radius: 4px
}
.btn {
	padding: 3px 12px
}
.btn-group.open .dropdown-toggle, .btn.active, .btn:active {
	-webkit-box-shadow: none;
	box-shadow: none
}
.btn-default {
	background-color: #6e8fff;
	border-color: #6e8fff;
	color: #fff !important;
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	line-height: 41px;
	padding: 0 15px;
	text-decoration: none !important;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
}
.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover {
	background-color: transparent;
	border-color: #6e8fff;
	color: #6e8fff !important;
}
.btn-lg {
	border-radius: 3px;
	font: 20px 'Cabin', sans-serif !important;
	padding: 14px 35px;
}
/*main structure*/
header {
	background: url(../images/body-bg-dark.png) repeat;
}
.content {
	padding-top: 35px;
	padding-bottom: 35px
}
.content-row {
	padding-bottom: 35px
}
/*social widjet*/
.social-widgets {
	position: fixed;
	z-index: 10000;
	top: 50%;
	height: 0;
	width: 0;
	right: 0
}
.social-widgets .item, .social-widgets .items {
	margin: 0;
	padding: 0;
	list-style-type: none
}
.social-widgets .items {
	top: -125px;
	position: relative
}
.social-widgets .item {
	position: absolute;
	top: 0;
	left: 120px
}
.social-widgets .active {
	z-index: 100;
	left: -310px
}
.social-widgets .item-01, .social-widgets .item-02, .social-widgets .item-03, .social-widgets .item-04, .social-widgets .item-05, .social-widgets .item-06, .social-widgets .item-07, .social-widgets .item-08, .social-widgets .item-09 {
	left: 0;
}
.social-widgets .item-01 {
	top: 0;
	z-index: 99
}
.social-widgets .item-02 {
	top: 66px;
	z-index: 98
}
.social-widgets .item-03 {
	top: 132px;
	z-index: 97
}
.social-widgets .item-04 {
	top: 198px;
	z-index: 96
}
.social-widgets .item-05 {
	top: 264px;
	z-index: 95
}
.social-widgets .item-06 {
	top: 330px;
	z-index: 94
}
.social-widgets .item-07 {
	top: 396px;
	z-index: 93
}
.social-widgets .item-08 {
	top: 462px;
	z-index: 92
}
.social-widgets .item-09 {
	top: 528px;
	z-index: 91
}
.social-widgets .tab-icon {
	position: absolute;
	top: 0;
	left: -57px;
	display: block;
	width: 57px;
	height: 59px;
	background: #fff;
	background: rgba(#fff, .6);
	border: 1px solid transparent;
	border-right: 0;
	text-align: center;
	font-size: 1.54em;
	line-height: 3.2;
	border-radius: 0;
}
.social-widgets .tab-icon:hover {
	text-decoration: none
}
.social-widgets .active .tab-icon {
	background: #fff;
	border-color: transparent;
}
.social-widgets .tab-content {
	background: #fff;
	border-color: transparent;
	width: 310px;
	padding: 10px 15px
}
.social-widgets .active .tab-content {
	box-shadow: none
}
.social-widgets .title {
	color: #000;
	padding: 4px 0 11px;
	font: 1.23em Mavenpro, Arial, Helvetica, sans-serif;
	text-transform: uppercase
}
.social-widgets .facebook.active {
	left: -260px
}
.social-widgets .facebook .tab-content {
	width: 260px
}
.social-widgets .twitter.active {
	left: -300px
}
.social-widgets .twitter .tab-content {
	width: 300px
}
.social-widgets .twitter-widget {
	padding-top: 10px
}
.social-widgets .youtube.active {
	left: -450px
}
.social-widgets .youtube .tab-content {
	width: 450px;
	padding-left: 18px;
}
.social-widgets .loading {
	min-height: 200px;
	position: relative;
	z-index: 1000;
}
.social-widgets .loading img.ajaxloader {
	position: absolute;
	top: 45%;
	left: 45%;
	width: 32px;
	height: 32px
}
/*social icons*/
.icon.icon-facebook {
	color: #4664b7
}
.icon.icon-twitter {
	color: #00b6e4
}
.icon.icon-linkedin {
	color: #0073a5
}
.icon.icon-youtube {
	color: #ff0000
}
.icon.icon-pinterest {
	color: #cb2027
}
.icon.icon-gplus {
	color: #fff
}
/*back to top button*/
.back-to-top {
	bottom: 10%;
	cursor: pointer;
	display: none;
	position: fixed;
	right: 15px;
	text-align: center;
	width: 35px;
	z-index: 10000
}
.back-to-top span.arrow-up {
	position: absolute;
	top: -6px;
	-webkit-animation: bounce 0.4s ease-in-out infinite alternate;
	animation: bounce 0.4s ease-in-out infinite alternate
}
.back-to-top span.arrow-up {
	top: -20px\0
}
/*navigation*/

.navbar {
	width: 100%;
	border-radius: 0;
	position: absolute;
	top: 0;
	margin-bottom: 0;
	z-index: 9990;
	border: 0!important
}
.navbar .container {
	position: relative;
}
.navbar .background {
	border-bottom: 1px solid #eee;
	border-bottom: 0 solid rgba(0, 0, 0, 0);
	z-index: 1;
	color: #fff;
}
.navbar-main-menu, .navbar-main-menu .item {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
box- sizing:content-box
}
.navbar-main-menu-outer {
	margin-top: 12px;
	box-shadow: 0px -2px 2px rgba(0, 0, 0, .1);
}
.navbar-compact .background {
	padding: 0;
	background: #000;
}
.navbar-height-inner {
	height: 145px
}
.navbar-logo {
	position: relative;
	z-index: 11;
}
.navbar-compact .navbar-logo {
	width: 30% !important;
	padding-right: 15px;
}
.navbar-compact .navbar-logo img {
	width: 100%;
}
.navbar-search {
	clear: both;
	z-index: 1100;
	position: absolute;
	bottom: 12px;
	margin-bottom: 0;
	right: 25px;
}
.navbar-search input.form-control {
	font-size: 1em;
	line-height: 1.5em;
	width: 125px;
	float: right;
	padding-top: 8px;
	background: transparent !important;
}
.navbar-search .form-control {
 padding-right: 32px background-color: transparent;
	border: none !important;
	box-shadow: none;
	color: transparent;
	transition: all 0.5s 0s ease;
	-webkit-transition: all 0.5s 0s ease;
	-moz-transition: all 0.5s 0s ease;
	-o-transition: all 0.5s 0s ease
}
.navbar-search .form-control:focus {
	width: 230px
}
.navbar-search .button {
	float: right;
	margin-left: -34px;
	background: 0 0;
	font-size: 1.31em;
	position: relative;
	bottom: -1px;
	height: 34px;
	border: none;
	width: 34px;
	outline: 0;
	color: #fff
}
.navbar-search .button:active {
	line-height: .8em
}
.navbar-search .dropdown-search {
	display: none;
	position: absolute;
	right: 0;
	top: 34px;
	width: 100%;
	border: 1px solid #dcdcdc;
	box-shadow: 0 1px 3px rgba(5, 5, 5, .1);
	border-radius: 4px;
	padding: 10px;
	font-size: 1em;
	background-color: #000;
	border-color: #3f3f3f;
	color: #676767
}
.navbar-search .dropdown-search ul {
	margin: 0;
	padding: 0;
	list-style: none
}
.navbar-search .dropdown-search li {
	margin-bottom: 5px;
	cursor: pointer
}
.navbar-search .dropdown-search li:hover {
	opacity: .6
}
.navbar-search .dropdown-search li a {
	text-decoration: none
}
.navbar-search .dropdown-search li .amount {
	float: right;
	padding-left: 5px
}
.navbar-search:hover .form-control, .navbar-search .form-control:focus {
	border: 1px solid #fff !important;
	color: #fff
}
.navbar-main-menu {
	z-index: 10;
	background: #6e8fff;
	border-radius: 0;
	display: inline-block;
	height: 64px;
	padding: 0;
	margin: 0;
	clear: both;
	list-style-type: none;
	position: relative;
	box-sizing: content-box;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15)
}
.navbar-compact .navbar-main-menu {
	box-shadow: none;
}
.navbar-main-menu .sf-menu {
	padding: 0;
	margin: 0
}
.navbar-main-menu .sf-menu ul {
	background: rgba(55,55,55,0.95);
	box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	border-radius: 0;
	padding: 10px 0;
}
.navbar-main-menu .sf-menu>li {
	height: 64px;
}
.navbar-compact .navbar-main-menu .sf-menu>li {
	height: 32px;
	margin-bottom: 10px
}
.navbar-main-menu .sf-menu>li>a {
	display: block;
	padding: 22px 25px 20px;
	height: 64px;
}
.navbar-main-menu .sf-menu ul li a {
	border-bottom: none;
	padding-top: 8px;
	padding-bottom: 8px;
	font: 1.2em 'Cabin', sans-serif;
	text-transform: none;
	color: #fff;
}
.navbar-main-menu .sf-menu ul li a:hover {
	background: none;
	color: #6e8fff
}
.navbar-main-menu .item {
	float: left;
	height: 64px;
	padding: 0;
	margin: 0;
	position: relative;
}
.navbar-compact .navbar-main-menu .item {
	height: 32px;
}
.navbar-main-menu .item:hover {
	z-index: 1000000;
}
.navbar-main-menu .item:first-child {
	margin-left: -10px
}
.navbar-main-menu .item .btn-main {
	position: relative;
	display: block;
	height: 64px;
	padding: 22px 25px 20px;
}
.navbar-main-menu .item .btn-main, .navbar-main-menu .sf-menu>li>a {
	color: #fff;
	text-transform: uppercase;
	font: 1.385em 'Cabin', sans-serif;
}
.navbar-main-menu .item .btn-main:hover, .navbar-main-menu .sf-menu>li:hover>a, .navbar-main-menu .item .btn-main.active, .navbar-main-menu .sf-menu>li>a.active {
	color: #fff;
	background: #373737;
}
.navbar-main-menu .item .btn-main:before, .navbar-main-menu .sf-menu>li>a:before {
	position: absolute;
	top: 25px;
	left: 0;
	height: 16px;
	content: "";
	border-right: 1px solid rgba(0,0,0,0.1);
}
.navbar-main-menu .item:first-child .btn-main:before, .navbar-main-menu .item:first-child .sf-menu>li>a:before {
	border: none;
}
.navbar-main-menu .item, .navbar-main-menu .item .btn-main, .navbar-main-menu .sf-menu>li {
	height: 64px;
}
.navbar-main-menu .btn-main:hover {
	text-decoration: none
}
.navbar-main-menu .item .btn-main .icon {
	font-size: 1.12em;
	line-height: .3em;
	position: relative;
	bottom: -1px;
	margin-left: 1px
}
.navbar-main-menu .item-content {
	float: right;
	overflow: hidden;
	display: none;
	margin-left: -100%;
	width: 100%;
	margin-top: 38px!important;
	margin-bottom: -6px!important;
	background: #fff;
	position: relative
}
.navbar-compact .navbar-main-menu .item-content {
	margin-top: 28px!important;
}
.navbar-switcher {
	text-align: center;
	float: right;
	display: none;
	width: 49px;
	height: 47px;
	margin-bottom: -47px;
	margin-right: 10px;
	background: #fff!important;
	padding: 6px 7px;
	border-radius: 0 0 3px 3px;
	cursor: pointer;
	color: #fff
}
.navbar-switcher.active {
	background: #6e8fff!important
}
.navbar-switcher .i-active, .navbar-switcher.active .i-inactive {
	display: none
}
.navbar-switcher.active .i-active {
	display: inline;
	font-size: 1.8em;
	line-height: 1.5em
}
.navbar-compact {
	top: -60px;
	position: fixed
}
.navbar-compact .compact-hidden, .navbar-compact .compact-hidden.hidden-xs {
	display: none!important
}
.navbar-compact .navbar-main-menu {
	background: none;
	clear: none;
	height: 64px;
	top: 0;
	padding: 0 15px 0;
}
.navbar-compact .navbar-search {
	top: 3px;
	clear: none;
	position: relative;
	margin-top: 12px;
	margin-right: -10px
}
.navbar-compact .navbar-search .form-control:focus {
	width: 145px
}
.navbar-compact .navbar-switcher {
	display: block
}
.navbar-compact .navbar-main-menu {
	margin-top: 4px
}
.navbar-compact .navbar-main-menu .item .btn-main, .navbar-compact .navbar-main-menu .sf-menu>li {
	height: 64px;
	margin-bottom: 10px;
}
.navbar-compact .navbar-main-menu .item .btn-main, .navbar-compact .navbar-main-menu .sf-menu>li>a {
	padding: 22px 15px 0;
	font-size: 1.2em;
	color: #fff;
}
.navbar-compact .navbar-main-menu .item .btn-main:hover, .navbar-compact .navbar-main-menu .sf-menu>li:hover>a, .navbar-compact .navbar-main-menu .item .btn-main.active, .navbar-compact .navbar-main-menu .sf-menu>li.active>a {
	color: #fff;
	background: #6e8fff;
}
.navbar-logo {
	width: 40%;
	text-align: center;
	z-index: 11
}
#top-player {
	width: 470px;
	height: 84px;
	padding-left: 0;
	text-align: left;
	position: relative;
	float: right;
}
.navbar-compact #top-player {
	display: none;
}
.navbar-compact .navbar-logo {
	width: 35%
}
.navbar-compact .navbar-main-menu {
	margin-top: 0;
}
/*slide menu*/
#off-canvas-menu {
	display: none
}
#off-canvas-menu, #off-canvas-menu-title {
	background: #2c2d32 !important;
	border-color: #3f3f3f !important;
	color: #fff !important;
}
#off-canvas-menu .expander-list .name {
	border-color: #3f3f3f !important;
}
#off-canvas-menu a {
	color: #fff !important;
}
.expander-list, .expander-list ul {
	margin: 0;
	padding: 0;
	list-style-type: none
}
.expander-list li {
	margin: 0
}
.expander-list .expander {
	float: right;
	cursor: pointer;
	padding: 0 8px;
	font-family: Verdana, Arial, Helvetica, sans-serif
}
.expander-list .name {
	display: block;
	border-bottom: 1px solid #eee;
	padding: 7px 0 6px
}
.expander-list ul .name {
	padding-left: 21px
}
.expander-list ul ul .name {
	padding-left: 42px
}
.expander-list ul ul ul .name {
	padding-left: 63px
}
.expander-list .last>.name {
	border: none
}
/*grey box*/
.grey-box {
	background: #1d1f26;
}
/*breadcrumbs*/
#breadcrumbs {
	background: #000;
	font-size: 1em;
	line-height: 1.5em;
	padding: 30px 0 15px;
	margin-top: -15px;
	color: #636363;
}
#breadcrumbs span {
	padding: 0 10px;
}
#breadcrumbs a {
	color: #636363;
}
/*banners row*/
.banners-row {
	position: relative;
	background: #000;
	color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	z-index: 1000;
}
.banners-row:after, .banners-row:before {
	display: table;
	content: " "
}
.banners-row:after {
	clear: both
}
.banners-row .banner-box:first-child {
	border: none;
}
.banner-box {
	width: 25%;
	float: left;
	border-left: 3px dotted #191b21;
	cursor: pointer;
}
.banner-box > .inside {
	border-top: 6px solid #6e8fff;
	padding: 0 2px;
	margin-top: -6px;
}
.banner-box:hover > .inside {
	border-color: #fff;
}
.banner-box h3 {
	padding-bottom: 0;
	font-weight: 600;
}
/*blockquote*/
.blockquote {
	position: relative;
	padding: 15px 0;
	margin-bottom: 20px;
	border-top: 1px solid #2f3136;
	border-bottom: 1px solid #2f3136
}
.blockquote .inside {
	border-left: 5px solid #6e8fff;
	padding: 6px 0 6px 20px;
	font-style: italic;
	position: relative;
}
.blockquote .inside:after {
	left: 0px;
	top: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-left-color: #6e8fff;
	border-width: 3px;
	margin-top: -3px;
}
/*blog widget*/
.blog-widget {
	background: url(../images/liveradio/parallax-bg.jpg);
	color: #aeaeae;
	-webkit-backface-visibility: visible;
	overflow: hidden;
	padding: 30px 0;
}
.back-bg .blog-widget {
	background-image: none
}
.blog-widget .content {
	overflow: hidden;
	background: 0 0
}
.container .blog-widget .content.container {
	width: auto;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}
.blog-widget p {
	color: #fff
}
.blog-widget h3 {
	text-decoration: none;
	color: #fff;
	font-size: 2.0em;
	text-align: center;
	margin-bottom: 5px;
}
.blog-widget h3 .icon {
	font-size: 1.3em;
	padding-right: 5px;
}
.blog-widget h4 {
	font-size: 1.385em;
	font-weight: normal;
}
.blog-widget h4, .blog-widget h4 a {
	margin-bottom: 5px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.blog-widget a {
	color: #ddd;
	text-decoration: underline
}
.blog-widget a:hover {
	text-decoration: none
}
.blog-widget .posts {
	padding: 40px 20px 20px 160px;
	margin: 0 80px;
	position: relative;
	background: rgba(16,24,35,0.7)
}
.blog-widget .posts:before {
	display: block;
	position: absolute;
	top: 25px;
	left: 37px;
	font-family: Flaticon;
	content: '\e81f';
	text-indent: 0;
	font-size: 100px;
	line-height: 100px;
	color: #fff;
	opacity: 0.3;
}
.blog-widget .posts .flex-viewport {
	z-index: 10
}
.blog-widget .posts .flex-direction-nav {
	top: 50%;
	margin-top: -32px;
	left: 0;
	width: 100%;
	z-index: 9
}
.blog-widget .posts .flex-direction-nav a {
	color: #fff
}
.blog-widget .posts .flex-direction-nav a:hover {
	opacity: .8
}
.blog-widget .posts .flex-disabled {
	color: #ccc!important
}
.blog-widget .posts .flex-prev {
	position: absolute;
	left: -80px;
}
.blog-widget .posts .flex-next {
	position: absolute;
	right: -80px;
	left: auto
}
.blog-widget .posts li {
	margin: 0;
	padding: 0;
	overflow: hidden
}
.blog-widget .image-cell {
	width: 35%;
	margin-right: 25px;
	float: left;
}
.blog-widget .offset-image {
	overflow: hidden;
}
.post-date, .post-comment {
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
	color: #fff;
	font-size: 0.846em;
	font-family: 'Cabin', sans-serif;
}
.post-date {
	background: #000;
}
.post-date .icon {
	padding-right: 3px;
	font-size: 1.273em;
	color: #6e8fff;
}
.post-comment a {
	color: #fff;
	text-decoration: none;
}
.post-comment a:hover {
	text-decoration: underline;
}
.blog-widget .blog-post-info {
	font-size: 1.0833em
}
.blog-widget .blog-post-info, .blog-widget .blog-post-info a {
	color: #818389;
}
/* blog posts */
.blog-post {
	background: #1d1f26;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
	padding: 20px 150px 35px 30px;
	margin-bottom: 15px;
	position: relative;
}
.blog-post.full-post {
	padding-right: 30px;
	padding-bottom: 0;
}
.blog-post:before {
	display: block;
	position: absolute;
	top: 15px;
	right: 30px;
	font-family: Flaticon;
	content: '\e81f';
	text-indent: 0;
	font-size: 100px;
	line-height: 100px;
	color: #303138;
	opacity: 0.3;
}
.blog-post .bg-grey {
	margin: 20px -30px 0;
	padding: 20px 30px 30px;
	background: #1d1f26;
	border-top: 3px dotted #000;
}
.blog-post .post-comment a {
	color: #fff;
	padding: 0 0 0 10px;
}
.blog-post .image-cell {
	width: 40%;
	margin-right: 25px;
	float: left;
}
.blog-post .offset-image {
	overflow: hidden;
}
/*posts widget*/
.posts-widget ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background: #1d1f26;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
	padding: 10px 15px 25px 23px;
}
.posts-widget ul li {
	margin: 0;
	padding: 0 0 10px;
	overflow: hidden
}
.posts-widget ul li:last-child {
	padding-bottom: 0
}
.posts-widget .post-date {
	display:block;
	color: #fff;
	background: none;
	padding: 0 0 20px;
	font-weight: 600;
}
.posts-widget img {
	width: 125px;
	float: left;
	margin: 0 14px 0 0
}
.posts-widget .title {
	font-weight: 600;
	font-size: 0.846em;
	text-transform: uppercase;
	color:#fff;
}
/*pagination*/
.pagination-main {
	margin: 0 auto;
	padding: 0 0 35px;
	list-style-type: none;
	text-align: center
}
.pagination-main li {
	display: inline-block;
	margin: 0;
	padding: 0 1px 0 0;
	font-size: 1.08em;
	line-height: 2.3em;
	color: #6e8fff
}
.pagination-main li a {
	display: inline-block;
	border: 1px solid #6e8fff;
	width: 30px;
	height: 34px;

	text-align: center;
	border-radius: 2px
}
.pagination-main li a:hover, .pagination-main li.active a {
	text-decoration: none;
	color: #fff;
	background: #6e8fff;
	border-color: #6e8fff
}
.pagination-main li.active a {
	cursor: default
}
/* aside widget */
.container-widget {
	margin-bottom: 25px
}
.container-widget h3 {
	font-size: 1.538em;
	padding-bottom: 1.3em
}
.container-widget p:last-child {
	margin: 0
}
/*info box*/
.info-box {
	margin-bottom: 25px;
}
.info-box .inside {
	background: #1a1c22;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
	padding: 0 25px 15px;
}
.info-box .inside:after, .info-box .inside:before {
	top: 100%;
	left: 50%;
	margin-left: -12px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.info-box .inside:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #1a1c22;
	border-width: 13px;
	margin-left: -13px;
}
.info-box .inside:before {
	border-color: rgba(204, 204, 204, 0);
	border-top-color: #1a1c22;
	border-width: 14px;
	margin-left: -14px;
}
.info-box h3 {
	background: #1a1c22;
	padding: 16px 25px;
	margin: 0 -25px 25px;
	border-bottom: 3px dotted #040405;
}
/*djs box*/
.djs-box {
	margin-bottom: 25px;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
}
.djs-box .inside {
	background: #1a1c22;
	padding: 20px 20px 10px;
	overflow: hidden;
}
.djs-box h3 {
	padding-bottom: 8px;
}
.djs-box .tags {
	padding-bottom: 18px;
}
.djs-box .tags a {
	color: #6e8fff
}
.djs-box .img-left {
	margin: 0 25px 10px 0;
}
.djs-box .schedule {
	border-top: 3px dotted #000;
	background: #1a1c22;
	padding: 16px 0;
}
.djs-box .schedule table {
	width: 100%;
	color: #5f6366;
	border: none;
}
.djs-box .schedule table td, .djs-box .schedule table th {
	padding: 5px;
	text-align: center;
}
.djs-box .schedule table td {
	font-size: 0.923em;
}
.djs-box .schedule table th {
	font-size: 1.077em;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}
/*contact icons*/
.contact-icon {
	display: inline-block;
	width: 37px;
	height: 37px;
	text-align: center;
	font-size: 1.5em;
	line-height: 40px;
	background: #2b2d35;
	transition: all 0.5s 0s ease;
	-webkit-transition: all 0.5s 0s ease;
	-moz-transition: all 0.5s 0s ease;
	-o-transition: all 0.5s 0s ease
}
.contact-icon span {
	color: #6e8fff
}
.contact-icon:hover {
	text-decoration: none;
	background: #6e8fff;
}
.contact-icon:hover span {
	color: #fff
}
/*find us block*/
.find-us {
	margin: 0;
	padding: 5px 0 0;
	list-style-type: none;
	font-size: 1.5em;
	overflow: hidden
}
.find-us li {
	float: left;
	margin-right: 28px;
	margin-bottom: 10px
}
.find-us .icon {
	display: inline-block
}
.find-us .divider:before {
	content: " ";
	display: inline-block;
	height: 1em;
	position: relative;
	left: -14px;
	border-left: 1px solid #32333a
}
.find-us a {
	display: inline-block
}
.find-us a:hover {
	text-decoration: none
}
/*faq*/
.faq-outer {
	background: #1d1f26;
	margin-bottom: 15px;
}
.faq-heading {
	position: relative;
	background: #1d1f26;
	color:#fff;
	font-family: 'Cabin', sans-serif;
	font-size: 1.231em;
	font-weight: bold;
	line-height: 1.436em;
	padding: 15px 15px 15px 70px;
	text-transform: uppercase;
}
.faq-heading span {
	display: block;
	padding: 15px 0;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	background: #6e8fff;
	color: #fff;
	width: 53px;
}
.faq-body {
	border-top: 3px dotted #000;
	padding: 20px 20px 20px 70px;
	margin-top: -2px;
	position: relative;
	z-index: 1;
}
/*filters*/
.filters-by-category {
	margin: 10px 0 20px;
}
.filters-by-category ul {
	padding: 0;
	margin: 0;
}
.filters-by-category li {
	margin: 0 2px 12px;
	display: inline-block;
	position: relative;
}
.filters-by-category li a {
	display: block;
	padding: 20px 25px;
	font-size: 1.077em;
	line-height: 1.143em;
	font-family: 'Cabin', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #848484;
	background: rgba(55,55,55,0.6);
	border-radius: 3px;
}
.filters-by-category li a.selected {
	background: #6e8fff;
	color: #fff;
}
.filters-by-category li a.selected:before {
	top: 100%;
	left: 50%;
	margin-left: -4px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #6e8fff;
	border-width: 8px;
	margin-left: -8px;
}
/* gallery */
.gallery {
	margin-bottom: 50px;
}
.gallery .item {
	width: 15.75%;
	margin-bottom: 12px;
	border: 10px solid #1d1f26;
	position: relative;
	box-shadow: 0 0 2px rgba(0,0,0,0.1)
}
.gallery .item img {
	width: 100%;
	float: left;
}
/*contacts list*/
.contacts-list {
	margin: 0;
	padding: 0;
	list-style-type: none
}
.contacts-list li {
	margin: 0;
	padding: 0 0 10px;
	font-size: 1.154em;
}
.contacts-list li .icon {
	padding-right: 10px;
	color: #6e8fff;
	font-size: 1.2em;
}
/*google-map*/

.google-map {
	border: 0 none;
	height: 680px;
	margin: 0;
	overflow: hidden;
	width: 100%;
	border: 15px solid #1d1f26;
}
/*footer*/
footer {
	background-color: #0d0e11;
}
footer, footer a {
	color: #fff;
}
.footer-navbar {
	background-image: none;
	border: none;
}
.footer-navbar .menu, .footer-navbar .menu a {
	color: #fff
}
.footer-navbar, .footer-navbar .icon, .footer-navbar a, .footer-navbar h3, .footer-navbar h4, footer, footer a, footer h3, footer h4 {
	color: #fff
}
.footer-navbar .icon {
	font-size: .92em;
	margin-right: 4px
}
.footer-navbar .menu {
	margin: 0;
	padding: 0;
	list-style-type: none
}
.footer-navbar .menu li {
	margin: 0;
	padding: 0 0 10px
}
.footer-navbar .content {
	padding-top: 38px;
	padding-bottom: 0;
}
.footer-bottom-block {
	padding-top: 0;
	padding-bottom: 17px;
	line-height: 2em
}
footer .copyright-text {
	margin-top: -25px;
}
footer .copyright-text, footer .copyright-text a {
	color: #818389
}
.collapsed-block {
	margin-bottom: 15px
}
/*newsletter*/
.newsletter p {
	color: #656565
}
/*custom list*/

.simple-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.simple-list ul {
	bottom: -0.8em;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.simple-list li {
	margin: 0;
	padding: 0 0 12px;
	font-family: 'Cabin', sans-serif;
}
.simple-list li a {
	font-size: 1.154em;
	text-transform: uppercase;
}
.simple-list .icon {
	margin-right: 9px;
}
/*tags list*/
.tags-list {
	margin: 0;
	padding: 0;
	list-style-type: none
}
.tags-list li {
	margin: 0;
	padding: 0 0 2px;
	display: inline-block
}
.tags-list li a {
	display: inline-block;
	margin-left: -2px;
	border: 1px solid #6e8fff;
	background: #6e8fff;
	color: #fff;
	border-radius: 2px;
	padding: 5px 8px 4px;
	transition: all 0.5s 0s ease;
	-webkit-transition: all 0.5s 0s ease;
	-moz-transition: all 0.5s 0s ease;
	-o-transition: all 0.5s 0s ease
}
.tags-list li a:hover {
	text-decoration: none;
	color: #6e8fff;
	background: none;
	border-color: #6e8fff
}
/*video*/
.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
}
.video-responsive iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
/*top playlist*/
#content-player {
	padding-bottom: 25px;
}
#content-player .scrollpane {
	height: 435px;
}
/*news*/
.news {
	padding: 0 0 0 85px;
	position: relative;
	margin-bottom: 26px;
}
.news .image {
	position: absolute;
	left: 0;
	top: 0;
}
.news .image img {
	width: 70px;
}
.news .news-date {
	display: inline-block;
	color: #fff;
	background: #2d3551;
	font-size: 1em;
	line-height: 1.769em;
	padding: 0 5px;
	margin-bottom: 7px;
}
/*tabs*/
.nav-tabs {
	border: none;
	padding: 0 !important;
	background-color: #1d1f26;
}
.nav-tabs>li {
	display: inline-block;
	float: none;
}
.nav-tabs>li>a {
	border: none;
	padding: 13px 15px;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover {
	background-color: transparent;
	border: none !important;
	font-size: 1.077em;
	color: #fff;
	font-family: 'Cabin', sans-serif !important;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 27px;
	margin: 0;
	border-radius: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #6e8fff;
	color: #fff;
	border: none !important
}
.tab-content-outer .tab-content {
	background-color: transparent;
	border: none;
	border-top: 2px solid #2c2d32;
	padding: 25px 0;
}
.tab-content {
	padding: 20px 30px 15px;
	border-top: 3px dotted #000;
	margin-bottom: 20px;
	background: #1d1f26;
}
.tab-pane {
	min-height: 500px;
	background: url(../images/ajax-loader-black.gif) no-repeat center center transparent;
}
/*slider*/
.slider {
	font-size: 106px;
	line-height: 1em;
	margin-top: -15px;
}
.slider .slider__item {
	position: relative;
}
.slider .text-pos-1 {
	position: absolute;
	bottom: 20%;
	right: 5%;
	width: 55%;
	z-index: 10000;
}
.slider .text-pos-2 {
	position: absolute;
	bottom: 20%;
	left: 5%;
	width: 60%;
	z-index: 10000;
}
.slider .text1, .slider .text2 {
	position: relative;
	clear: both;
}
.slider .text1 span {
	display: inline-block;
	float: left;
	font-family: 'Cabin', sans-serif;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	color: #fff;
	padding: 5px 15px;
	background: #6a88f0;
	text-transform: uppercase;
}
.slider .text2 span {
	display: inline-block;
	float: left;
	font-family: 'Cabin', sans-serif;
	font-size: 0.8em;
	line-height: 1em;
	font-weight: bold;
	color: #fff;
	padding: 5px 15px;
	background: #2a2b2b;
	text-transform: uppercase;
}
.slider span.text3 {
	display: inline-block;
	float: left;
	font-family: 'Cabin', sans-serif;
	font-size: 0.2em;
	line-height: 1em;
	padding: 5px 10px;
	color: #343434;
	background: none;
	text-transform: uppercase;
}
.slider span.text4 {
	display: block;
	position: absolute;
	top: -10px;
	left: -20px;
	font-family: 'Cabin', sans-serif;
	font-size: 0.2em;
	line-height: 1em;
	padding: 5px 10px;
	color: #343434;
	background: #ee156c;
	text-transform: uppercase;
	-webkit-transform: rotate(352deg);
	-moz-transform: rotate(352deg);
	-o-transform: rotate(352deg);
}
.slider .scroll-down {
	position: absolute;
	display: block;
	margin-bottom: 0;
	z-index: 100;
	color: #fff;
	left: 0;
	bottom: 3%;
	width: 22%;
	text-align: center;
	text-shadow: 1px 1px rgba(0, 0, 0, .5);
	font: 20px/20px 'Cabin', sans-serif
}
.slider .scroll-down:hover {
	text-decoration: none
}
.slider .scroll-down .icon {
	display: block;
	font-size: 70px;
	margin-top: -60px;
}

/* #Media Queries
================================================== */

@media (max-width:767px) {
.responsive .content.nopad-xs {
	padding-top: 0;
	padding-bottom: 0
}
}

@media(min-width:768px) and (max-width:991px) {
.responsive .navbar-height-inner {
	height: 185px
}
}

@media (max-width:767px) {
.responsive .navbar {
	width: 100%;
	position: relative;
	margin-bottom: 0
}
.responsive .navbar.navbar-compact {
	position: fixed;
}
.responsive .navbar-logo {
	float: none !important;
	width: 70%;
	margin: 5px auto 10px;
}
.responsive .navbar-logo img {
	max-width: 100%
}
.responsive .navbar-height-inner {
	height: 0 !important
}
.responsive .navbar-phone {
	font-size: 1.1em;
	width: 45%;
	padding: 28px 0 0;
}
}

@media (max-width: 479px) {
.responsive .navbar-logo {
	width: 100%;
}
.responsive .navbar-phone {
	padding: 15px 0 0;
	width: 55%;
}
}

@media (max-width:767px) {
.responsive .mobile-nav {
	position: relative;
	height: 60px
}
.responsive .mobile-nav .nav-item:first-child {
	border: 0
}
.responsive .mobile-nav .nav-item.item-02>a {
	left: 25%
}
.responsive .mobile-nav .nav-item.item-03>a {
	left: 50%
}
.responsive .mobile-nav .nav-item.item-04>a {
	left: 75%
}
.responsive .mobile-nav .nav-item>a {
	height: 60px;
	width: 25%;
	float: left;
	display: block;
	background: #2c2d32;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
	text-align: center
}
.responsive .mobile-nav .nav-item.active>a {
	background: #6e8fff
}
.responsive .mobile-nav .nav-item>a .icon {
	position: relative;
	font-size: 36px;
	color: #fff;
	display: block;
	padding: 21px 0 0 0
}
.responsive .mobile-nav .nav-item .tab-content {
	z-index: 0;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	background: #373737;
	width: 100%;
	max-height: 0
}
.responsive .mobile-nav .nav-item.active .tab-content {
	top: 60px;
	max-height: 1000px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	z-index: 1
}
.responsive .mobile-nav .nav-item .tab-content .form-control {
	background: #2c2d32 !important;
}
.responsive .mobile-nav .navbar-search .button {
	color: #fff;
}
}

@media (max-width:767px) {
.responsive #outer {
	overflow: hidden
}
#outer-canvas, .responsive #off-canvas-menu {
	width: 100%
}
body.off-canvas-menu-open.responsive #outer-canvas {
	margin-left: 280px;
	position: relative;
	overflow: hidden
}
.responsive #outer-canvas:before {
	content: " ";
	position: absolute;
	z-index: -1;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: #fff
}
.responsive #off-canvas-menu {
	position: absolute;
	display: block;
	left: -280px;
	top: 0;
	overflow: hidden;
	min-height: 100%;
	z-index: 1001;
	width: 280px;
	font-family: Mavenpro, Arial, Helvetica, sans-serif;
	background: #f5f5f5;
}
.responsive #off-canvas-menu .expander-list .expander {
	font-size: 16px;
	margin-top: 5px
}
.responsive #off-canvas-menu .expander-list .name {
	padding: 10px 10px 10px 25px
}
.responsive #off-canvas-menu ul li span.icon {
	padding: 0 10px 0 0;
	font-size: 18px;
	line-height: 22px
}
.responsive #off-canvas-menu ul li li li {
	padding-left: 35px
}
.responsive #off-canvas-menu ul li a {
	font-size: 14px;
	line-height: 26px;
	color: #2b2b2b;
	text-transform: uppercase;
	text-decoration: none
}
.responsive #off-canvas-menu-title {
	display: block;
	background: #f5f5f5;
	border-bottom: 1px solid #e7e7e7;
	font-size: 16px;
	line-height: 46px;
	padding-left: 25px;
	font-family: Mavenpro-bold, Arial, Helvetica, sans-serif
}
.responsive #off-canvas-menu-close {
	font-size: 20px;
	cursor: pointer;
	float: right;
	color: #707070;
	padding: 0 12px 0 0
}
body.off-canvas-menu-open.responsive #off-canvas-menu {
	display: block;
	left: 0
}
body.off-canvas-menu-open.responsive #outer-overlay {
	display: block;
	background: none repeat scroll 0 0 #000;
	height: 100%;
	left: 0;
	min-height: 100%!important;
	position: absolute!important;
	top: 0;
	width: 100%!important;
	opacity: .5;
	z-index: 1000
}
.responsive #outer-overlay {
	opacity: 0;
	z-index: 0
}
}

@media (max-width: 1199px) {
.responsive .navbar-search {
	margin: 0 !important;
}
}

@media(min-width:768px) and (max-width:991px) {
.responsive .navbar-search {
	margin: -95px 0 0
}
}

@media (max-width:767px) {
.responsive .navbar-search {
	position: relative;
	float: none!important;
	clear: none!important;
	margin: 0!important;
	right: 0;
	padding: 15px 20px 0!important
}
.responsive .navbar-search input.form-control {
	font-size: 1em;
	width: 100%!important;
	float: none!important;
	padding-top: 8px!important
}
.responsive .navbar-search .form-control {
	padding-right: 32px!important
}
.responsive .navbar-search .form-control:focus {
	width: 100%!important
}
.responsive .navbar-search .button {
	float: right!important;
	margin-left: -34px!important;
	background: transparent!important;
	font-size: 1.31em!important;
	position: relative!important;
	bottom: -1px!important;
	height: 34px!important;
	border: none!important;
	width: 34px!important;
	outline: 0!important
}
.responsive .navbar-search .button:active {
	line-height: .8em
}
}

@media (max-width:767px) {
.responsive .navbar-compact {
	top: -145px
}
}

@media(min-width:768px) and (max-width:991px) {
.responsive .navbar-compact {
	top: -115px
}
.responsive .navbar-compact .navbar-search {
	margin-top: -40px
}
}

@media (max-width:767px) {
.responsive .input-control input.form-control {
	width: 100%
}
}

@media(min-width:992px) and (max-width:1200px) {
.banners-row .icon-float-left {
	margin-right: 0;
}
}

@media(min-width:480px) and (max-width:991px) {
.banner-box {
	width: 50%;
}
.banners-row > .banner-box:nth-child(odd) {
	border: none;
}
.banners-row .icon-float-left {
	width: auto;
	margin-left: 10px;
}
}

@media (max-width:479px) {
.banner-box {
	width: 100%;
	border: none;
}
}

@media (max-width:767px) {
.responsive .post {
	display: block;
}
.responsive .post.post-single .image img, .responsive .image-circle img {
	max-width: 100%;
	width: auto
}
}

@media(min-width:992px) and (max-width:1199px) {
.responsive .blog-widget .image-cell {
	width: 50%;
	margin-right: 15px;
}
.blog-widget .post-date, .blog-widget .post-comment {
	padding: 0 5px;
}
}

@media (max-width:991px) {
.responsive .blog-widget .image-cell {
	width: 100%;
	margin-right: 0;
	margin-bottom: 20px;
	float: none;
}
.blog-widget .post-date, .blog-widget .post-comment {
	padding: 0 5px;
}
}

@media (max-width:640px) {
.responsive .blog-widget .posts {
	padding: 20px 20px 10px 20px;
	margin: 0;
}
.responsive .blog-widget .posts:before {
	content: '';
}
.responsive .blog-widget .posts .flex-direction-nav {
	top: 0;
	margin-top: -90px;
	left: 0;
}
.responsive .blog-widget .posts .flex-prev {
	left: 0;
}
.responsive .blog-widget .posts .flex-next {
	right: 0;
	left: auto
}
}

@media(min-width:768px) and (max-width:991px) {
.responsive .news {
	padding: 0;
	text-align: center;
}
.responsive .news p {
	text-align: left;
}
.responsive .news .image {
	position: relative;
	margin-bottom: 10px;
}
.responsive .news .image img {
	width: auto;
	margin: 0 auto;
}
}

@media (min-width:768px) {
.responsive .footer-navbar .tabBlock {
	display: block!important
}
}

@media (max-width:767px) {
.responsive footer .copyright-text {
	margin-top: 0;
}
.responsive .footer-navbar {
	background: 0 0;
	color: #2b2b2b;
	border: none
}
.responsive .container .footer-navbar .container {
	padding: 0
}
.responsive .footer-navbar .menu {
	margin: 0;
	padding: 0;
	list-style-type: none
}
.responsive .footer-navbar .menu li {
	margin: 0;
	padding: 0 0 10px
}
.responsive .collapsed-block-outer {
	width: 100%;
	padding: 0;
}
.responsive .collapsed-block {
	border-bottom: 1px solid #ccc;
	padding-top: 15px;
	margin: 0
}
.responsive .collapsed-block h3, .responsive .collapsed-block h4 {
	padding-bottom: 15px
}
.responsive .collapsed-block .tabBlock {
	display: none
}
.responsive .collapsed-block .expander {
	float: right;
	cursor: pointer;
	padding: 0 8px;
	margin-top: -5px;
	font-size: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none
}
.responsive .footer-bottom-block {
	text-align: center;
	padding: 25px 0
}
}

@media (max-width:767px) {
.responsive .tab-content {
	padding: 20px 20px 15px;
	border: none;
	margin-bottom: 20px
}
}

@media (min-width:768px) {
.responsive .tabs-left .tab-content-outer {
	border-color: #6e8fff
}
}

@media (max-width:767px) {
.responsive .tabsslider .carousel-next:hover, .responsive .tabsslider .carousel-prev:hover {
	color: #6e8fff
}
.responsive .services-block .item {
	border-color: #38393d
}
}

@media (max-width: 767px) {
.responsive .navbar-compact .navbar-logo {
	width: 50% !important;
	margin: 5px auto 10px !important;
	float: none !important
}
}

@media (max-width:1199px) {
.responsive .navbar-main-menu .item .btn-main, .responsive .navbar-main-menu .sf-menu>li>a {
	padding-left: 15px;
	padding-right: 15px;
}
}

@media (max-width:991px) {
.responsive .navbar-main-menu .item .btn-main, .responsive .navbar-main-menu .sf-menu>li>a {
	padding-left: 15px;
	padding-right: 15px;
}
.responsive .navbar-compact .navbar-main-menu .item .btn-main, .responsive .navbar-compact .navbar-main-menu .sf-menu>li>a {
	padding-left: 10px;
	padding-right: 10px;
}
.responsive .navbar-compact .navbar-logo {
	padding-top: 10px;
}
.responsive .navbar-compact .navbar-main-menu {
	clear: none !important;
}
}

@media(min-width:768px) and (max-width:991px) {
.responsive .navbar-logo {
	width: 47%;
}
}

@media (max-width:1400px) {
.responsive .slider {
	font-size: 80px;
}
}

@media (max-width:1199px) {
.responsive .slider {
	font-size: 60px;
}
}

@media (max-width:991px) {
.responsive .slider {
	font-size: 40px;
}
}

@media (max-width:767px) {
.slider {
	font-size: 30px;
}
}

@media (max-width:479px) {
.responsive .slider {
	font-size: 30px;
}
}

@media (max-width: 1200px) {
.gallery .item {
	width: 15.5%;
}
}

@media (max-width: 991px) {
.gallery .item {
	width: 18.5%;
}
}

@media (max-width: 767px) {
.gallery .item {
	width: 32.0%;
}
}

@media (max-width: 640px) {
.gallery .item {
	width: 31.0%;
}
}

@media (max-width: 479px) {
.gallery .item {
	width: 47%;
}
}
/* Animation */

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}
.animate, .animate-delay {
	opacity: 0;/*-webkit-perspective:1000*/
}
.touch .animate, .touch .animate-delay {
	opacity: 1!important
}
.animate-delay.animated.scale, .animate.animated.scale {
	-webkit-animation: scale 1s 1 cubic-bezier(0.445, .05, .55, .95);
	-moz-animation: scale 1s 1 cubic-bezier(0.445, .05, .55, .95);
	-o-animation: scale 1s 1 cubic-bezier(0.445, .05, .55, .95);
	animation: scale 1s 1 cubic-bezier(0.445, .05, .55, .95);
	opacity: 1
}
.animate-delay.animated.fadeUp, .animate.animated.fadeUp {
	-webkit-animation: fadeUp .5s 1 linear;
	-moz-animation: fadeUp .5s 1 linear;
	-o-animation: fadeUp .5s 1 linear;
	animation: fadeUp .5s 1 linear;
	opacity: 1
}
@-webkit-keyframes scale {
0% {
-webkit-transform:scale(0.3);
opacity:.1
}
100% {
-webkit-transform:scale(1);
opacity:1
}
}
@-moz-keyframes scale {
0% {
-moz-transform:scale(0.3);
opacity:.1
}
100% {
-moz-transform:scale(1);
opacity:1
}
}
@-o-keyframes scale {
0% {
-o-transform:scale(0.3);
opacity:.1
}
100% {
-o-transform:scale(1);
opacity:1
}
}
@keyframes scale {
0% {
transform:scale(0.3);
opacity:.1
}
100% {
transform:scale(1);
opacity:1
}
}
 @-webkit-keyframes fadeUp {
0% {
opacity:0;
-webkit-transform:translateY(20px);
transform:translateY(20px)
}
100% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@keyframes fadeUp {
0% {
opacity:0;
-webkit-transform:translateY(20px);
-ms-transform:translateY(20px);
transform:translateY(20px)
}
100% {
opacity:1;
-webkit-transform:translateY(0);
-ms-transform:translateY(0);
transform:translateY(0)
}
}
@-webkit-keyframes bounce {
0% {
top:-18px
}
100% {
top:-24px
}
}
@keyframes bounce {
0% {
top:-18px
}
100% {
top:-24px
}
}

.animate-move-down, .animate-scale {
	-o-transition: -o-transform 0.2s linear 0s;
	-moz-transition: -moz-transform 0.2s linear 0s;
	-webkit-transition: -webkit-transform 0.2s linear 0s;
	-ms-transition: -ms-transform 0.2s linear 0s;
	transition: transform 0.2s linear 0s;
}
.animate-scale:hover {
	-o-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2)
}
.animate-move-down:hover {
	-o-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px)
}
.flex-direction-nav {
	-webkit-transform: translate3d(0, 0, 0)
}
.flex-direction-nav a {
	-o-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-webkit-transition: color .3s ease;
	-ms-transition: color .3s ease;
	transition: color .3s ease
}
.navbar-search input.form-control {
	-o-transition: width .5s ease;
	-moz-transition: width .5s ease;
	-webkit-transition: width .5s ease;
	transition: width .5s ease
}
.navbar-main-menu .item .btn-main, .sf-menu>li {
	-o-transition: border .1s ease;
	-moz-transition: border .1s ease;
	-webkit-transition: border .1s ease;
	transition: border .1s ease
}
.navbar-switcher {
	-o-transition: background .5s ease;
	-moz-transition: background .5s ease;
	-webkit-transition: background .5s ease;
	transition: background .5s ease
}
.find-us .icon {
	-o-transition: -o-transform 1s ease;
	-moz-transition: -moz-transform 1s ease;
	-webkit-transition: -webkit-transform 1s ease;
	-ms-transition: -ms-transform 1s ease;
	transition: transform 1s ease
}
.social-widgets .item, .social-widgets .tab-content, .social-widgets .tab-icon {
	-o-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease
}
.animate-hover:hover {
	-webkit-animation-duration: 1s;
	animation-duration: 1s
}
#off-canvas-menu, #outer-canvas, .mobile-nav .nav-item .tab-content, .mobile-nav .nav-item a, .mobile-nav .nav-item.active .tab-content {
	-o-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease
}
.flex-direction-nav {
	opacity: 0;
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-duration: 500ms;
	-moz-transition-timing-function: ease-out;
	-o-transition-duration: 500ms;
	-p-transition-timing-function: ease-out;
	-ms-transform-duration: 500ms;
	-ms-transform-timing-function: ease-out
}
.touch .flex-direction-nav {
	opacity: 1
}
.flexslider:hover .flex-direction-nav {
	opacity: 1;
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-duration: 500ms;
	-moz-transition-timing-function: ease-out;
	-o-transition-duration: 500ms;
	-p-transition-timing-function: ease-out;
	-ms-transform-duration: 500ms;
	-ms-transform-timing-function: ease-out
}
form .required {
	color: #e9266d;
}
form .error {
	color: #ff0000;
	font-size: 12px;
}
#success, #error, #subscribeSuccess, #subscribeError {
	display: none;
	height: 50px;
}
#subscribeSuccess, #subscribeError {
	height: 30px;
}
#success span, #error span, #subscribeSuccess span, #subscribeError span{
	display: block;
}
#success span p, #error span p, #subscribeSuccess span p, #subscribeError span p {
	margin-top: 15px;
}
#success span p, #subscribeSuccess span p {
	color: #2990d6;
}
#error span p, #subscribeError span p{
	color: #c0392b;
}
label {
	margin-top: 14px;
    margin-bottom: 7px;
}
#subscribe label.error {   
	position: absolute;
    bottom: -30px;
    left: 20px;
 }