.getstarted {
  img { max-width: 100%; }
  h1 {font-size:42px;}
  h2 {font-size: 30px;}
  h3 {font-size: 20px;}
  h6 {
    font-size: 26px;
    color: #1db6dc;
  }
  .logos img{
    margin-left:15px;
    &first-of-type {
      margin-left:0;
    }
  }
  .btn {margin-bottom:30px;}
  .protip {
    padding:20px 25px;
    background: #fff;
    color: #4e5c66;
    &-white {
      border: 1px solid #e1e1e1;
      border-radius: 2px;
    }
  }
}
