{% assign langPath = site.data.langs[page.lang] %}
{% assign defaultLangPath = site.data.langs.en %}
{% include head.html %}
<body class="contest-page">
  {% include shared/header.html hide_lang_dropdown=true %}
  <!-- demo-section  -->
  <section class="demo-section">
    <section class="col-md-3 col-sm-12 instructions-section bg-gray">
      <h3 class="counter-section-header">{{langPath.contest_page.counter.header | default: defaultLangPath.contest_page.counter.header}}</h3>
      <div class="contest-countdown-clock"></div>
      <div class="contest-prizes">
        <h3 class="prizes-section-header">{{langPath.contest_page.prizes.header | default: defaultLangPath.contest_page.prizes.header}}</h3>
        <ul class="contest-prizes-list">
          <li>
            <div class="col-xs-6 col-sm-6 col-md-6 place-column">
              {{langPath.contest_page.prizes.first.place | default: defaultLangPath.contest_page.prizes.first.place}}
            </div>
            <div class="col-md-6 prize-column prize-coins">
              {{langPath.contest_page.prizes.first.prize | default: defaultLangPath.contest_page.prizes.first.prize}}
            </div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-6 col-md-6 place-column">
              {{langPath.contest_page.prizes.second.place | default: defaultLangPath.contest_page.prizes.second.place}}
            </div>
            <div class="col-md-6 prize-column prize-coins">
              {{langPath.contest_page.prizes.second.prize | default: defaultLangPath.contest_page.prizes.second.prize}}
            </div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-6 col-md-6 place-column">
              {{langPath.contest_page.prizes.third.place | default: defaultLangPath.contest_page.prizes.third.place}}
            </div>
            <div class="col-md-6 prize-column prize-coins">
              {{langPath.contest_page.prizes.third.prize | default: defaultLangPath.contest_page.prizes.third.prize}}
            </div>
          </li>
          <li>
            <div class="col-xs-6 col-sm-6 col-md-6 place-column">
              {{langPath.contest_page.prizes.top5.place | default: defaultLangPath.contest_page.prizes.top5.place}}
            </div>
            <div class="col-md-6 prize-column">
              {{langPath.contest_page.prizes.top5.prize | default: defaultLangPath.contest_page.prizes.top5.prize}}
            </div>
          </li>
        </ul>
      </div>
      <div class="contest-instructions">
        <h3 class="instructions-section-header">{{langPath.contest_page.instructions.header | default: defaultLangPath.contest_page.instructions.header}}</h3>
        <ul class="numbered-list">
          <li>{{langPath.contest_page.instructions.step1 | default: defaultLangPath.contest_page.instructions.step1}}</li>
          <li>{{langPath.contest_page.instructions.step2 | default: defaultLangPath.contest_page.instructions.step2}}</li>
          <li>{{langPath.contest_page.instructions.step3 | default: defaultLangPath.contest_page.instructions.step3}}</li>
          <li>{{langPath.contest_page.instructions.step4 | default: defaultLangPath.contest_page.instructions.step4}}</li>
        </ul>
      </div>
    </section>
    <section class="col-md-6 col-sm-12 preview-section">
      <div class="webcam-not-supported alert alert-warning" role="alert">
        <i class="fa fa-warning"></i>
        <span class="sr-only">Error:</span>
        {{langPath.contest_page.error.platformNotSupported | default: defaultLangPath.contest_page.error.platformNotSupported}}
      </div>
      <div class="preview-inner-section text-center">
        <h3>
          {{langPath.contest_page.preview.header | default: defaultLangPath.contest_page.preview.header}}
        </h3>
        <section class="verge-image-preview-section"></section>
        <div class="placeholder-div hidden">
          <span class="placeholder-div-dimensions"></span>
        </div>
        <progress max="1" value="0" class="verge-progress-bar hidden"></progress>
        <div class="options-button-group">
          <a href="#" type="button" id="create-gif" class="button create-gif-button" role="button">
            <i class="fa fa-camera">
              <span class="gif-description-text">Take Photo</span>
            </i>
          </a>
          <a href="#" type="button" id="save-gif" class="button save-gif-button hidden" role="button" download>
            <i class="fa fa-download">
              <span class="gif-description-text">Download Photo</span>
            </i>
          </a>
        </div>
      </div>
    </section>
    <section class="col-md-3 col-sm-12 options-section">
      <h3>{{langPath.contest_page.options.header | default: defaultLangPath.contest_page.options.header}}</h3>
      <form class="options-form" action="">
        <div class="form-group">
          <label for="GIFType">{{langPath.contest_page.options.type | default: defaultLangPath.contest_page.options.type}}</label>
          <div class="button custom-select">
            <select name="GIFType" id="GIFType" class="form-control">
              <option value="animated">{{langPath.contest_page.options.animated | default: defaultLangPath.contest_page.options.animated}}</option>
              <option value="snapshot">{{langPath.contest_page.options.snapshot | default: defaultLangPath.contest_page.options.snapshot}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="gifWidth">{{langPath.contest_page.options.width | default: defaultLangPath.contest_page.options.width}}</label>
          <div class="input-group">
            <input name="gifWidth" id="gifWidth" class="form-control" value="300" size="5" type="number"></input>
            <div class="input-group-addon">px</div>
          </div>
        </div>
        <div class="form-group">
          <label for="gifHeight">{{langPath.contest_page.options.height | default: defaultLangPath.contest_page.options.height}}</label>
          <div class="input-group">
            <input name="gifHeight" id="gifHeight" class="form-control" value="300" size="5" type="number"></input>
            <div class="input-group-addon">px</div>
          </div>
        </div>
        <div class="form-group">
          <label for="filter">{{langPath.contest_page.options.filter | default: defaultLangPath.contest_page.options.filter}}</label>
          <div class="button custom-select">
            <select name="filter" id="filter" class="form-control">
              <option value="">{{langPath.contest_page.options.none | default: defaultLangPath.contest_page.options.none}}</option>
              <option value="sepia(100%)">{{langPath.contest_page.options.sepia | default: defaultLangPath.contest_page.options.sepia}}</option>
              <option value="grayscale(100%)">{{langPath.contest_page.options.grayscale | default: defaultLangPath.contest_page.options.grayscale}}</option>
              <option value="saturate(90)">{{langPath.contest_page.options.saturate | default: defaultLangPath.contest_page.options.saturate}}</option>
              <option value="invert(75%)">{{langPath.contest_page.options.invert | default: defaultLangPath.contest_page.options.invert}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="numFrames">Number of Frames</label>
          <input name="numFrames" id="numFrames" class="form-control" value="15" size="5" type="number"></input>
        </div>
        <div class="form-group">
          <label for="frameDuration">Frame Duration</label>
          <input name="frameDuration" id="frameDuration" class="form-control" value="1" step="1" size="5" type="number"></input>
        </div>
      </form>
    </section>
  </section>
  {% include shared/footer.html %}
  <script src="../javascript/vendor/gifshot.js"></script>
  <script src="../javascript/contest.js"></script>
</body>