<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Verge GIF Contest Review</title>
  <meta name="description" content="Verge GIF Contest Review">

  <link rel="stylesheet" href="/assets/main.css?{{site.time | date: '%s%N'}}">
  {% include shared/favicon.html %}
</head>
  <body class="contest_review slideshow">
    <header>
      <div class="alignleft">
          <a href="https://vergecurrency.com" title="Verge">
            <img class="logo" src="/vergelogo.svg" alt="Verge" title="Verge">
          </a>
      </div>
    </header>
    <main role="main">
      <article id="webslides">    
        <section class="">
          <span class="background dark"></span>
          <!--.wrap = container (width: 90%) -->
          <div class="wrap aligncenter">
            <h1>
              <strong>Verge's GIF Contest Review</strong>
            </h1>
          </div>
        </section>
        <section>
          <div class="wrap">
            <div class="grid vertical-align">
              <div class="column">
                <h3><strong>Happy Face</strong></h3>
              </div>
              <div class="column">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Just brought my little verge to life!!! 💃💃💃 He is so happy he can&#39;t wait to hit the Moon!!! <a href="https://twitter.com/vergecurrency">@vergecurrency</a> <a href="https://twitter.com/hashtag/xvgme?src=hash">#xvgme</a> <a href="https://twitter.com/hashtag/xvgme?src=hash">#xvgme</a> <br>Lets support XVG <a href="https://t.co/CSGstFjj7V">pic.twitter.com/CSGstFjj7V</a></p>&mdash; Jack wills (@jackwills1216) <a href="https://twitter.com/jackwills1216/status/887428795950657537">July 18, 2017</a></blockquote>
              </div>
            </div>
          </div>
        </section>
      </article>
    </main>
    <script src="/javascript/vendor/webslides.js"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script>
      window.ws = new WebSlides();
    </script>
  </body>