<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{site.data.locales[page.locale].head.title}}</title>
  <meta name="description" content="{{site.data.locales[page.locale].head.meta.description}}">

  <link rel="stylesheet" href="/assets/main.css?{{site.time | date: '%s%N'}}">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="/javascript/vendor/UAParser.js"></script>
  <script>
      (function () {
          var PROD_HOST = 'vergecurrency.com';
          var isProd = window.location.host === PROD_HOST
          var isHttps = window.location.protocol === "https:";

          if (isProd && !isHttps) {
              window.location.protocol = "https";
          }
      }());
</script>
</head>
