{% assign pageName = '' %}
{% assign langPath = site.data.langs[page.lang] %}
{% assign defaultLangPath = site.data.langs.en %}
{% include head.html %}
<body>
  {% include home/splash.html %}
  {% include home/info.html %}
  {% include home/exchanges.html %}
  {% include home/vendors.html %}
  {% include home/wallets.html %}
  {% include home/roadmap.html %}
  {% include home/developers.html %}
  {% include home/contributors.html %}
  {% include home/donate.html %}
  {% include shared/footer.html %}
</body>
<script>
  $(function() {
    var uaParser = new UAParser(navigator.userAgent);
    var userOS = ((uaParser.getOS() || {}).name || '').replace(/\s/g,'').toLowerCase();
    var bodyElement = $('body');

    bodyElement.addClass(userOS);

    // Makes all internal links smooth scroll
    $(document).on('click', 'a[href^="#"]', function (event) {
        $('html, body').animate({
          scrollTop: $($.attr(this, 'href')).offset().top - 60
        }, 1200);
    });
  });
</script>
