{% assign pageName = 'mining' %}
{% assign langPath = site.data.langs[page.lang] %}
{% assign defaultLangPath = site.data.langs.en %}
{% assign pageLangCodes = site.faq_lang_codes %}
{% include head.html %}

<body class="faq-container">
  {% include shared/header.html %}
  <div class="faq-page">
    <h1 class="tagline">How you can mine Verge with AMD or Nvidia GPU</h1>
    <div class="faq-content-container col-md-12 bg-gray">
      <div class="container">
        <ul style="list-style-type: circle;">
        <b>X-17</b>:
        <li><a href="http://cryptomining-blog.com/3139-new-sgminer-5-0-beta-fork-with-x17-algorithm-support/">Sgminer for x17 (Windows AMD)</a></li>
        <li><a href="https://github.com/LordzS/sgminer-x17">Sgminer-x17 Source Code for Linux (AMD)</a></li>
        <li><a href="http://cryptomining-blog.com/tag/ccminer-alexis-1-0/">ccMiner/alexis (Windows Nvidia)</a></li>
        <li><a href="https://github.com/tpruvot/ccminer">ccMiner Source Code for Linux</a></li>
        <br>
        <b>Blake2s</b>:
        <li><a href="http://cryptomining-blog.com/tag/ccminer-alexis-1-0/">ccMiner/alexis (Windows Nvidia)</li>
        <li><a href="https://github.com/alexis78/ccminer">ccMiner Source Code for Linux</a></li>
        <br>
        <b>Lyra2rev2</b>:
        <li><a href="http://cryptomining-blog.com/4739-new-sgminer-5-1-0-fork-with-optimized-lyra2re-kernel/">Sgminer optimized for Lyra2rev2 (Windows AMD)</a></li>
        <li><a href="http://cryptomining-blog.com/tag/ccminer-alexis-1-0/">ccMiner/alexis (Windows Nvidia)</a></li>
        <li><a href="https://github.com/sgminer-dev/sgminer/tree/master/kernel">Sgminer-dev Source Code for linux</a></li>
        <li><a href="https://github.com/alexis78/ccminer">ccMiner Source Code for Linux</a></li>
        <br>
        <b>Myriad-Groestl</b>:
        <li><a href="http://cryptomining-blog.com/6139-new-optimized-opencl-kernel-for-myriad-groestl/">Sgminer for Myr-Groestl (Windows AMD)</a></li>
        <li><a href="http://cryptomining-blog.com/tag/ccminer-alexis-1-0/">ccMiner/alexis (Windows Nvidia)</a></li>
        <li><a href="https://github.com/sgminer-dev/sgminer/tree/master/kernel">Sgminer-dev Source Code for linux</a></li>
        <li><a href="https://github.com/alexis78/ccminer">ccMiner Source Code for Linux</a></li>
        <br>
        <b>Scrypt</b>:
        <li><a href="http://cryptomining-blog.com/tag/ccminer-alexis-1-0/">ccMiner/alexis (Windows Nvidia)</a></li>
        <li><a href="http://cryptomining-blog.com/3139-new-sgminer-5-0-beta-fork-with-x17-algorithm-support/">Sgminer for Scrypt & X-17 (Windows AMD)</a></li>
        <li><a href="https://github.com/sgminer-dev/sgminer/">Sgminer-dev Source Code for linux</a></li>
        <li><a href="https://github.com/alexis78/ccminer">ccMiner Source Code for Linux</a></li>
        <br>
        <b>CPU Mining</b>:
        <li><a href="http://cryptomining-blog.com/8134-windows-binaries-for-the-cpuminer-opt-3-3-8-cpu-miner/">Cpuminer-opt 3.3.8 (Windows/source) - all algos</a></li>
        </ul>
        </div>
      <div class="extend-page-offset"></div>
    </div>
  </div>
  {% include shared/footer.html %}
  <script src="/javascript/vendor/jqueryui.js"></script>
  <script src="/javascript/vendor/jquery.tocify.js"></script>
  <script>
      (function(window, document, $) {
          // Executes your code when the DOM is ready.  Acts the same as $(document).ready()
          $(function() {
              var $toc = $('#toc');

              // Calls the tocify method on your HTML div
              $toc.tocify({
                  hashGenerator: function (text) {
                    // prettify the text
                    var hashValue = text.toLowerCase().replace(/\s/g, '-').replace(/\?/g, '');

                    // fix double hyphens
                    while (hashValue.indexOf('--') > -1) {
                        hashValue = hashValue.replace(/--/g, '-');
                    }

                    // fix colon-space instances
                    while (hashValue.indexOf(':-') > -1) {
                        hashValue = hashValue.replace(/:-/g, '-');
                    }

                    return hashValue;
                  },
                  highlightOffset: 0,
                  scrollTo: 20,
                  ignoreSelector: '.tagline, footer h1'
              });

              $(window).on('scroll', function () {
                  if (window.scrollY > 180) {
                      $toc.addClass('sticky');
                  } else {
                      $toc.removeClass('sticky');
                  }
              });

              if (window.scrollY > 180) {
                  $toc.addClass('sticky');
              } else {
                  $toc.removeClass('sticky');
              }

              $(window).scroll();
          });
      }(window, document, window.jQuery));
  </script>
</body>
