{% assign pageName = 'p2p' %}
{% assign langPath = site.data.langs[page.lang] %}
{% assign defaultLangPath = site.data.langs.en %}
{% assign pageLangCodes = site.p2p_lang_codes %}
{% include head.html %}


<body class="faq-container">
  {% include shared/header.html %}
  <div class="faq-page">
    <h1 class="tagline">{{langPath.p2ptoc.toc.tagline | default: defaultLangPath.p2ptoc.toc.tagline}}</h1>
    <div class="faq-toc-container col-md-4">
      <div id="toc">
        <h3 class="toc-header">{{langPath.p2ptoc.toc.header | default: defaultLangPath.p2ptoc.toc.header}}</h3>
      </div>
    </div>
    <div class="faq-content-container col-md-8 bg-gray">
      <div class="container">
        <div id="p2p"></div>
    </div>
  </div>
  {% include shared/footer.html %}
  <script src="/javascript/vendor/jqueryui.js"></script>
  <script src="/javascript/vendor/jquery.tocify.js"></script>
  <script>
    var obj = {{ langPath.p2ptoc.toc | default: defaultLangPath.p2ptoc.toc | jsonify }};

    delete obj['header'] && delete obj['tagline'];

    for (items in obj) {
      $("#p2p").append(
    	 	"<ul><li id='" + items + "'>" +
          "<input type='checkbox'>" +
          "<i></i>" +
      		"<h1>" + obj[items].subheader + "</h1>" +
        "</li></ul>"
      );

      delete obj[items]['subheader'];

      for (subitems in obj[items]){
        $("#" + items).append(
          "<p>" + obj[items][subitems] + "</p>"
        )
      }
    }
  </script>
  <script>
      (function(window, document, $) {
          // Executes your code when the DOM is ready.  Acts the same as $(document).ready()
          $(function() {
              var $toc = $('#toc');

              // Calls the tocify method on your HTML div
              $toc.tocify({
                  hashGenerator: function (text) {
                    // prettify the text
                    var hashValue = text.toLowerCase().replace(/\s/g, '-').replace(/\?/g, '');

                    // fix double hyphens
                    while (hashValue.indexOf('--') > -1) {
                        hashValue = hashValue.replace(/--/g, '-');
                    }

                    // fix colon-space instances
                    while (hashValue.indexOf(':-') > -1) {
                        hashValue = hashValue.replace(/:-/g, '-');
                    }

                    return hashValue;
                  },
                  highlightOffset: 0,
                  scrollTo: 20,
                  ignoreSelector: '.tagline, footer h1'
              });

              $(window).on('scroll', function () {
                  if (window.scrollY > 180) {
                      $toc.addClass('sticky');
                  } else {
                      $toc.removeClass('sticky');
                  }
              });

              if (window.scrollY > 180) {
                  $toc.addClass('sticky');
              } else {
                  $toc.removeClass('sticky');
              }

              $(window).scroll();
          });
      }(window, document, window.jQuery));
  </script>
</body>
