.text-center { text-align: center; }
.mx-0 { margin-left: 0; margin-right: 0; }
@media (max-width: 47.9375em) {
  .hidden-xs { display: none !important; }
}
@-ms-viewport{
  width: device-width;
}

.pt {padding-top:50px;}
.pb {padding-bottom:50px;}
