.text-center { text-align: center; }
.mx-0 { margin-left: 0; margin-right: 0; }
@media (max-width: 47.9375em) {
  .hidden-xs { display: none !important; }
}
@-ms-viewport{
  width: device-width;
}

.pt {padding-top:50px;}
.pb {padding-bottom:50px;}

.btn {
  font-size: 14px;
  border-radius: 0;
  font-weight: 900;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 20px;
  line-height: 1.8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 3px solid;
  transition: all .2s ease-in;
}

.btn-primary {
  background: #1db6dc;
  border-color: #1db6dc;
  color: #fff;
  box-shadow: 0 0 51px rgba(3,197,247,0.39);
}

.btn-secondary {
  border: 3px solid #fff;
  border-color: #fff;
  color: #fff;
}

.btn-primary:hover, .btn-secondary:hover {
  color: #fff;
  box-shadow: 0 0 51px rgba(255,255,255,0.39);
}