@mixin gradient ($args...) {
  background-image: -o-linear-gradient($args);
  background-image: -moz-linear-gradient($args);
  background-image: -webkit-linear-gradient($args);
  background-image: linear-gradient($args);
}

@-webkit-keyframes moving2 {
  0% {
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(200%, -100%);
    -ms-transform: translate(200%, -100%);
    transform: translate(200%, -100%);
  }
}
@keyframes moving2 {
  0% {
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(200%, -100%);
    -ms-transform: translate(200%, -100%);
    transform: translate(200%, -100%);
  }
}

.clouds {
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 0;
}

.clouds div {
  position: absolute;
  top: 0px;
  width: 350px;
  height: 200px;
  @include gradient(white, #f3eef2, rgba(0,0,0,0));
  border-radius: 100%;
  opacity: 0;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  box-shadow: 5px 0px 50px white;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  will-change: transform;
}
.clouds div::before,
.clouds div::after {
  position: relative;
  width: 200px;
  height: 100px;
  content: " ";
  display: block;
  left: -80px;
  top: 100px;
  border-radius: 100%;
  @include gradient(white, #f3eef2, rgba(0,0,0,0));
  box-shadow: 5px 0px 50px white;
}
.clouds div::after {
  left: 200px;
  height: 80px;
  width: 300px;
  top: -50px;
}
.clouds div:nth-child(1) {
  animation: moving2 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving2 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 175px;
}
.clouds div:nth-child(2) {
  animation: moving2 18s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving2 18s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 100px;
}
.clouds div:nth-child(3) {
  animation: moving2 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving2 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 150px;
}
.clouds div:nth-child(4) {
  animation: moving2 23s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving2 23s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 200px;
}
.clouds div:nth-child(5) {
  animation: moving2 17s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving2 17s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 125px;
}
.clouds div:nth-child(6) {
  animation: moving2 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving2 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 150px;
}
.clouds div:nth-child(7) {
  animation: moving2 16s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving2 16s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 225px;
}
.clouds div:nth-child(8) {
  animation: moving2 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving2 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 505px;
}
.clouds div:nth-child(9) {
  animation: moving2 13s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving2 13s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 375px;
}
.clouds div:nth-child(10) {
  animation: moving2 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving2 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 525px;
}
.clouds div:nth-child(11) {
  animation: moving2 18s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving2 18s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 375px;
}
.clouds div:nth-child(12) {
  animation: moving2 22s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving2 22s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 275px;
}

@media (max-width: 500px) {
  .clouds {
      display: none;
  }
}
