$instructions-section-size-a: .375rem;
$instructions-section-size-b: .60rem;
$instructions-section-size-c: 1.5rem;
$instructions-section-size-d: 1.875rem;
$instructions-section-size-e: 3rem;
$instructions-section-size-f: 20rem;

$instructions-section-size-border: 3px;

/* Options Section */
.demo-section {
  width: 100%;
  padding-top: $header-height;

  @media (max-width: 900px) {
    padding-top: 0;
  }
}

.options-section,
.preview-section,
.instructions-section {
  height: 100vh;
  overflow: auto;
}

.options-section {
  background: $verge-blue;
}
.options-section label {
  color: white;
}
.options-section h3 {
  text-align: center;
  color: white;
  margin: 0 0 30px;
  padding-top: 20px;
}
.options-section button {
  margin: 0 5px;
}
.options-button-group {
  text-align: center;
  margin-top: 20px;
}
.options-form {
  padding: 0 10px;
}

form {
  input {
    width: 100%;
    height: 38px;
    border-radius: 3px;
    padding: 6px 10px;
  }
}

/* Preview Section */
.preview-section h3 {
  color: $verge-blue;
  margin: 0;
  padding-top: 20px;
}

.preview-section .verge-progress-bar {
  margin-top: 20px;
}

.verge-image-preview-section {
  padding-top: 10px;
}

.options-section,
.preview-section {
  border-bottom: 1px solid #eee;
  border-right: 1px dotted rgba(0,0,0,.2);
}

.options-section {
  overflow-x: hidden;
}

.placeholder-div {
  background: $light-gray;
  margin: 0 auto;
  position: relative;
}

.placeholder-div-dimensions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 20px;
}

.button.create-gif-button,
.button.save-gif-button {
  display: inline-flex;
  padding: 12px 18px 13px;
  height: 45px;
  margin-left: 10px;
}

.button.create-gif-button:hover {
  background: $bg-dark2;
}

/* remove standard styling 
 * for all HTML5 progress enabled browsers
 */
 
progress {
  /* turn of styling */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
 
  /* no default border in FF and Opera */
  border: none;
 
  /* Dimensions */
  width: 300px;
  height: 40px;

  border-radius: 4px;
}
 
/* Firefox  */ 
progress  {
  background: $bg-dark;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
progress::-moz-progress-bar {
  background: $verge-blue;
}
progress:not([value])::-moz-progress-bar {
  background: $light-gray;
}
 
/* Chrome */
progress::-webkit-progress-bar {
  background: $bg-dark;
}
progress::-webkit-progress-value {
  background: $verge-blue;
}
progress:not([value])::-webkit-progress-bar {
  background: $light-gray;
}

a.save-gif-button {
  background: $verge-blue;
  color: white;
}

a.save-gif-button:hover {
  color: white;
  opacity: 0.6;
}

.instructions-section {
    display: inline-block;
}

ul.numbered-list {
  counter-reset: li;
  list-style-type: none;
  font-size: 14px;
  line-height: 18px;
  padding-left: 10px;
  
  li {
    position: relative;   
    padding: 5px 0 5px 40px;
    text-align: left;
    
    &:before {
      content: counter(li);
      counter-increment: li;
      height: 30px;
      width: 30px;
      border: 1px solid $verge-blue;
      border-radius: 50%;
      color: $bg-dark;
      text-align: center;
      position: absolute;      
      left: 0;
      top: 4px;
    }
  }
}

@media (max-width: 992px) {
  .fixed-title {
    text-align: right;
  }

  .options-section,
  .preview-section {
    height: 400px;
  }
  .options-button-group {
    padding-right: 15px;
  }
}

@media (max-width: 698px) {
  .save-gif-button {
    display: none;
  }
}