.verge-contributor,
.verge-contributor a {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.verge-contributor-image {
    width: 120px;
    height: 120px;
}

.verge-contributor-name {
    text-align: center;
}

.carousel-indicators {
    display: none;
    margin-top: 30px;
    text-align: center;
    position: relative;

    @media (min-width: 768px) {
        display: block;
    }
}

.carousel-indicators li {
    margin-right: 5px;
    border: 1px solid $verge-blue;

    &.active {
        background-color: $verge-blue;
        margin-right: 5px;
    }
}