.exchange-buttons-list {
	list-style: none;
	margin: 0;
	li {
		margin: 20px 0;
	}
}

.exchange-img {
    height: 50px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.exchange-title-text {
    font-size: 22px;
    color: $bg-dark;
    text-align: center;
}

.bittrex-img {
    background-image: url(/images/bittrex.png)
}

.bitsquare-img {
    background-image: url(/images/bitsquare.png)
}

.c-cex-img {
    background-image: url(/images/c-cex.png)
}

.litebit-img {
    background-image: url(/images/litebit.png)
}

.southxchange-img {
    background-image: url(/images/southxchange.png)
}

.novaexchange-img {
    background-image: url(/images/novaexchange.png)
}

.cryptopia-img {
    background-image: url(/images/cryptopia.png)
}

.coinspot-img {
    background-image: url(/images/coinspot.png)
}

.blocknet-img {
    background-image: url(/images/blocknet.png)
}

.exchangedi2p-img {
    background-image: url(/images/exchangedi2p.jpg)
}

.nexchange-img {
    background-image: url(/images/nexchange.png)
}

.coinwale-img {
    background-image: url(/images/coinwale.png)
}

.hitbtc-img {
    background-image: url(/images/hitbtc.png)
}

.binance-img {
    background-image: url(/images/binance.png)
}

.upbit-img {
    background-image: url(/images/upbit.png)
}

.changelly-img {
    background-image: url(/images/changelly.png)
}

.nakamotox-img {
    background-image: url(/images/nakamotox.png)
}

.coinswitch-img {
    background-image: url(/images/coinswitch.png)
}

.coin2001-img {
    background-image: url(/images/coin2001.png)
}

.cryptobridge-img {
    background-image: url(/images/cryptobridge.png)
}

.changenow-img {
    background-image: url(/images/changenow.png)
}

.tradesatoshi-img {
    background-image: url(/images/tradesatoshi.png)
}

.coinsready-img {
    background-image: url(/images/coinsready.png)
}

@media (max-width: 550px) {
    .exchange-img {
        height: 40px;
    }

    .exchange-title-text {
        font-size: 18px;
    }

    .exchange-buttons-list li {
        margin: 10px 0;
    }
}
