html,
body {
    overflow-x: hidden;
}

*, *:after, *:before {
  box-sizing: border-box;
}

$text-color: #666666;
$text-dark: #383838;

$verge-blue: #08b4e0;
$light-gray: #DDDDDD;

$bg-gray: #EEEEEE;
$bg-dark: #383838;
$bg-dark2: #454545;

$header-height: 60px;

h1 {
  font-size: 38px;
  font-weight: 600;
}

h4 {
  font-size: 22px;
  text-transform: uppercase;
  color: $text-dark;
  border-bottom: 1px solid #888;
  display: inline-block;
}

p {
  font-size: 22px;
  color: $text-color;
  line-height: 2;
  max-width: 800px;
}

.row {
  padding: 0 80px;

  @media (max-width: 650px) {
    padding: 0 5%;
  }
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  box-shadow: 0 0 2px 1px rgba(0,0,0,.1);
  background: #fff;
  height: $header-height;
  line-height: $header-height;
  width: 100%;

  @media (max-width: 900px) {
    display: none;
  }

  .header-nested-container {
    width: 90%;
    margin: 0 auto;
  }

  .logo-column {
    float: left;
  }

  .nav-column {
    float: right;
  }

  .nav {
    padding-top: 0;
    line-height: $header-height;
  }

  .verge-logo-container {
    display: inline-block;

    .verge-header-logo {
      height: 30px;
    }
  }

  .verge-header-text-container {
    display: inline-block;

    .verge-header-text {
      display: inline-block;
      font-size: 24px;
      font-weight: 100;
      color: $text-dark;
      margin: 0;
      vertical-align: middle;
    }
  }
}

.tagline,
a.view-all-wallets,
.nav a,
.wallet-download-button {
    position: relative;
    z-index: 999999;
}

.section {
  padding: 80px 0;
}

.end-section {
  padding-bottom: 30px;
}

.border-left {
  border-left: 1px solid #aaa;
  padding-left: 80px !important;

  @media (max-width: 550px) {
    border: none;
    padding-left: 0 !important;
  }
}

ul {
  list-style: none;
  margin: 0;
  font-size: 22px;
  color: $text-color;

  li {
    padding: 0;
    line-height: 2;

    b {
      color: $text-dark;
      font-weight: 600;
    }
  }
}

.bg-gray {
  background: $bg-gray;
}

.bg-dark {
  background: $bg-dark;

  h1 {
    color: #fff;
  }

  a {
    color: $verge-blue;

    &:hover {
      color: #eee;
    }
  }
}

.bg-blue {
  background: $verge-blue;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  box-shadow: 0px 2px 2px rgba(0,0,0,.25);
  color: $text-dark;
  margin: 0;
}

a.exchange-anchor {
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 0.15s ease-in-out; /** Firefox **/
  -o-transition: all 0.15s ease-in-out; /** Opera **/
  
  &:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  }
}

.splash {
  position: relative;
  background-image: url("/splash.jpg");
  height: 100vh;
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;

  .verge-splash-logo {
    height: 50px;
    display: inline-block;
  }

  .splash-inner-container {
    padding-top: $header-height;
    height: 100vh;

    @media (max-width: 900px) {
      padding-top: 0;
    }
  }

  h1 {
    margin-top: 100px;
  }
}

.logo {
  width: 300px;
  float: left;
}

a {
  color: $verge-blue;

  &:visited {
    color: $verge-blue;
  }

  &:hover, &:active {
    cursor: pointer;
    text-decoration: none;
    color: $text-dark;
  }
}

a.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $bg-dark;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin: 0;
  transition: background 0.15s ease-in-out;

  &:hover {
    background: $verge-blue;
    text-decoration: none !important;
    color: white !important;
  }

  &:focus {
    text-decoration: none !important;
    color: white !important;
  }
}

.splash {
  a.button {
    background: $verge-blue;

    &:hover {
      background: $bg-dark;
    }
  }
}

.header {
  padding-top: 50px;
}

.nav {
  margin: 0;
  font-size: 16px;
  float: right;
  padding-top: 10px;

  @media(max-width: 900px) {
    display: none;
  }

  li {
    line-height: 1;
    display: inline-block;
    margin-left: 1em;

    a {
      color: $text-dark;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.lang-dropdown {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #FFF;
  z-index: 9999999999;

  label {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    background-color: #383838;
    padding: 10px 20px;
    margin-bottom: 0;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 9999999999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    i {
      font-size: 12px;
      margin-left: 15px;
    }
  }

  .lang-list-column {
    padding: 0;
  }

  ul {
    position: absolute;
    right: 0;
    min-width: 275px;
    list-style: none;
    text-align: left;
    width: 100%;
    z-index: 9999999999;
    margin:0;
    padding:0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    display: none;
    background-color: $bg-dark;
  }

  ul:hover {
    display: block;
  }


  ul li {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: $bg-dark;
    cursor: pointer;

    a {
      color: white;
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
      padding: 15px;
      display: inline-block;
      width: 100%;
    }
  }

  ul li:hover {
    background-color: $bg-dark2;
    color: #FFF;
  }
}

.lang-dropdown:hover ul {
  display: block;
}

ul.pools-list b {
  display: block;
  margin-top: 1em;
  color: #999;
}

.footer {
  font-size: 12px;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 40px;
}

@import
  "bootstrap",
  "normalize",
  "skeleton",
  "select",
  "exchanges",
  "wallet-tabs",
  "wallet-download-buttons",
  "roadmap",
  "cloud-animation",
  "contest"
;