.p2p-page {
	.tagline{
		text-align: center;
}

#toc {
	max-height: 70%;
}


.p2p-header-container {
	padding: 20px;

	.transition, p, ul li i:before, ul li i:after {
		transition: all 0.25s ease-in-out;
	}

	h1 {
      color: $verge-blue;
    }

    h1 {
      text-transform: uppercase;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 3px;
      font-weight: 100;
    }

    h2 {
      font-size: 26px;
      line-height: 34px;
      font-weight: 300;
      letter-spacing: 1px;
      display: block;
      margin: 0;
      cursor: pointer;
    }

    p {
      color: rgba(48, 69, 92, 0.8);
      font-size: 27 px;
      line-height: 12px;
      letter-spacing: 1px;
      position: relative;
      overflow: hidden;
      max-height: 800px;
      opacity: 1;
      transform: translate(0, 0);
      margin-top: 14px;
      z-index: 2;
    }
  }



.p2p-content-container {
	padding: 20px;

	.transition, p, ul li i:before, ul li i:after {
		transition: all 0.25s ease-in-out;
	}

	h1 {
      color: $verge-blue;
    }

    h1 {
      text-transform: uppercase;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 3px;
      font-weight: 100;
    }

    h2 {
      font-size: 26px;
      line-height: 34px;
      font-weight: 300;
      letter-spacing: 1px;
      display: block;
      margin: 0;
      cursor: pointer;
    }

    p {
      color: rgba(48, 69, 92, 0.8);
      font-size: 17px;
      line-height: 26px;
      letter-spacing: 1px;
      position: relative;
      overflow: hidden;
      max-height: 800px;
      opacity: 1;
      transform: translate(0, 0);
      margin-top: 14px;
      z-index: 2;
    }

    ul {
      list-style: none;
      perspective: 900;
      padding: 0;
      margin: 0;
    }

    ul li {
      position: relative;
      padding: 0;
      margin: 0;
      padding-bottom: 4px;
      padding-top: 18px;
      border-top: 1px dotted #dce7eb;
      animation-delay: 1s;
    }

    ul li i {
      position: absolute;
      transform: translate(-6px, 0);
      margin-top: 16px;
      right: 0;
    }

    ul li i:before, ul li i:after {
      content: '';
      position: absolute;
      background-color: $verge-blue;
      width: 3px;
      height: 9px;
    }

    ul li i:before {
      transform: translate(-2px, 0) rotate(45deg);
    }

    ul li i:after {
      transform: translate(2px, 0) rotate(-45deg);
    }

    ul li input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
    }

    ul li input[type=checkbox]:checked ~ p {
      margin-top: 0;
      max-height: 0;
      opacity: 0;
      transform: translate(0, 50%);
      margin:0;
    }

    ul li input[type=checkbox]:checked ~ i:before {
      transform: translate(2px, 0) rotate(45deg);
    }

    ul li input[type=checkbox]:checked ~ i:after {
      transform: translate(-2px, 0) rotate(-45deg);
    }

	.row {
	  padding: 0 80px;

	  @media (max-width: 775px) {
	    padding: 0 5%;
	  }
	}




    @keyframes flipdown {
      0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
      }
      5% {
        opacity: 1;
      }
      80% {
        transform: rotateX(8deg);
      }
      83% {
        transform: rotateX(6deg);
      }
      92% {
        transform: rotateX(-3deg);
      }
      100% {
        transform-origin: top center;
        transform: rotateX(0deg);
      }
    }
  }

  .p2p-toc-container {
    @media (max-width: 775px) {
      display: none;
    }

    #toc {
      width: 25%;

      .toc-header {
        margin-left: 10px;
      }

      .tocify-header {
        .tocify-item {
          margin-left: 0;
          text-indent: 10px;
          float: left;
        }
      }

      .tocify-subheader {
        .tocify-item {
          margin-left: 0;
          text-indent: 20px;
          float: left;
        }
      }

      .tocify-subheader {
        .tocify-item:first-of-type {
          margin-left: 0;
        }
      }

      .tocify-item {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
          white-space: nowrap;
        }
      }

      .tocify-item.active {
        background-color: $verge-blue;

        a {
          color: white;
        }
      }
    }
  }

  #toc.sticky {
    top: 30px;
    max-height: 90%;
  }

  .extend-page-offset {
    display: block;
    width: 100%;
    height: 600px;
  }
}