.main-wallet-download-buttons-list-container {
    margin-top: 40px;
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    max-width: 400px;
}

.main-wallet-download-buttons-list {
    margin-bottom: 10px;
}

.view-all-wallets-container {
    text-align: center;
}

.view-all-wallets {
    font-size: 16px;
}

a.button.wallet-download-button {
    height: 80px;
}

.main-wallet-download-buttons-list .wallet-download-button {
    display: none;
}

.wallet-download-button-download-text {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -5px;
    padding-top: 10px;
}

.wallet-download-button-description-text {
    font-weight: 400;
    font-size: 16px;
}

.wallet-download-button-icon {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

/* OS Targets */
body[class^="windows"] {
    .windows-download-button {
        display: flex;
    }
}

body.macos {
    .macos-download-button {
        display: block;
    }
}

body.android {
    .android-download-button {
        display: block;
    }
}

body.arch {
    .arch-download-button {
        display: block;
    }
}

body.centos {
    .centos-download-button {
        display: block;
    }
}

body.debian {
    .debian-download-button {
        display: block;
    }
}

body.fedora {
    .fedora-download-button {
        display: block;
    }
}

.footer-wallet-download-buttons-list li {
    margin: 20px 0;
}
