.tab-content {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid $light-gray;
}

input[type="radio"].tab-radio {
  display: none;
}

.tab-label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.tab-label:hover {
  color: #888;
  cursor: pointer;
}

.tab-radio:checked + label {
  color: #555;
  border: 1px solid $light-gray;
  border-top: 2px solid $verge-blue;
  border-bottom: 1px solid white;
}

@media (max-width:767px) {
  .tab-label{
    display:block;
    border: 1px solid $light-gray;
  }

  .tab-radio:checked + label {
    border-bottom: 1px solid $light-gray;
  }
}

#preferred-tab:checked ~ #preferred-content,
#desktop-tab:checked ~ #desktop-content,
#mobile-tab:checked ~ #mobile-content,
#other-tab:checked ~ #other-content, {
  display: block;
}