{% assign basePath = '' %}
{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if    depth == 0 %}{% assign basePath = '.' %}
{% elsif depth == 1 %}{% assign basePath = '..' %}
{% elsif depth == 2 %}{% assign basePath = '../..' %}
{% elsif depth == 3 %}{% assign basePath = '../../..' %}
{% elsif depth == 4 %}{% assign basePath = '../../../..' %}
{% endif %}

{% if depth == -1 or depth == 1 and page.lang == site.default_lang %}{% assign linkPath = basePath %}
{% else %}{% capture linkPath %}{{ basePath }}/langs/{{page.lang}}{% endcapture %}
{% endif %}

{% assign langCodes = site.lang_codes %}
{% if pageLangCodes %}{% assign langCodes = pageLangCodes %}
{% endif %}

<!-- header -->
<header class="non-sticky-header header-container header" role="navigation">
  <div class="header-nested-container row">
    <div class="logo-column">
      <div class="verge-logo-container">
        <a href="/" role="banner">
          <img class="verge-header-fixed-logo" src="../../images/favicon/mstile-310x310.png" alt="Verge" title="Verge">
          <img class="logo" src="/vergelogo.svg" alt="Verge" title="Verge">
          <div class="verge-header-text-container">
              <h3 class="verge-header-text">Verge</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="nav-column">
      <ul class="nav contest-nav">
        <li>
          <a href="#about">{{langPath.nav.about.title | default: defaultLangPath.nav.about.title}}</a>
        </li>
        <li><a href="#exchanges">{{langPath.nav.exchanges.title | default: defaultLangPath.nav.exchanges.title}}</a></li>
        <li><a href="#vendors">{{langPath.nav.vendors.title | default: defaultLangPath.nav.vendors.title}}</a></li>
        <li><a href="#wallets">{{langPath.nav.wallets.title | default: defaultLangPath.nav.wallets.title}}</a></li>
        <li><a href="#roadmap">{{langPath.nav.roadmap.title | default: defaultLangPath.nav.roadmap.title}}</a></li>
        <li><a href="faq">{{langPath.nav.faq.title | default: defaultLangPath.nav.faq.title}}</a></li>
        <li class="nav-dropdown">
          <label>{{langPath.nav.community.title | default: defaultLangPath.nav.community.title}} <i class="fa fa-chevron-down" aria-hidden="true"></i></label>
          <ul>
            <li>
              <a href="#developers">{{langPath.nav.developers.title | default: defaultLangPath.nav.developers.title}}</a>
            </li>
            <li>
              <a href="#contributors">{{langPath.nav.contributors.title | default: defaultLangPath.nav.contributors.title}}</a>
            </li>
            <li>
              <a href="#donate">{{langPath.nav.donate.title | default: defaultLangPath.nav.donate.title}}</a>
            </li>
            <li>
              <a href="#social">{{langPath.nav.social.title | default: defaultLangPath.nav.social.title}}</a>
            </li>
          </ul>
        </li>
        {% if include.hideLangDropdown == false %}
          {% include shared/langdropdown.html %}
        {% endif %}
      </ul>
    </div>
  </div>
</header>

{% include shared/stickyheader.html hideLangDropdown=include.hideLangDropdown %}
