<input type="checkbox" id="hideNotificationBar" name="hideNotificationBar" value="hideNotificationBar" checked="checked">
<div class="notification-bar">
    <a href="https://play.google.com/store/apps/details?id=com.vergeandroid.wallet" target="_blank" class="notification-bar-anchor">
        <span class="notification-bar-text">{{langPath.notificationbar.torandroidrelease | default: defaultLangPath.notificationbar.torandroidrelease}}</span>
    </a>
    <label for="hideNotificationBar" id="hideTop" class="close" title="{{langPath.notificationbar.close | default: defaultLangPath.notificationbar.close}}" aria-label="{{langPath.notificationbar.close | default: defaultLangPath.notificationbar.close}}" title="{{langPath.notificationbar.close | default: defaultLangPath.notificationbar.close}}">×</label>
</div>