.business {
  // scss-lint:disable ColorVariable

  &--subheader {
    background: transparent;
    border-bottom: 1px solid #05131e;

    @at-root .scroll & {
      background: $white;

      a {
        color: #111;
      }
    }
  }

  .vendors {
    &--logo {
      height: 2rem;
      margin-bottom: 1rem;

      img {
        margin: 0;
        max-height: 2rem;
        max-width: 11.5rem;
      }
    }

    h2 {
      color: #05131e;
      font-size: rem(26px);
    }

    h3,
    h4 {
      color: #05131e;
      font-size: rem(18px);
    }
  }
}
