// scss-lint:disable ColorVariable

%wallet-icon--after {
  background: url('/static/img/wallets/tor.svg');
  background-size: cover;
  border-radius: 50%;
  bottom: rem(-10px);
  box-shadow: 0 0 rem(50px) rgba(0, 0, 0, .2);
  content: '';
  display: block;
  height: rem(28px);
  position: absolute;
  right: rem(-5px);
  width: rem(28px);
}

.home {
  .intro {
    h6 {
      color: #647886;
    }

    p {
      font-size: rem(18px);
    }
  }

  .benefits {
    &--url {
      color: #9b9b9b;

      &::after {
        @extend %gray-arrow-right;
      }
    }

    &--imgs {
      height: 75%;
      max-width: 50vw;
      position: absolute;
      right: 0;
      top: 11.5%;
      width: 100%;

      @media (min-width: $min-width-md) {
        height: 60%;
        top: 11.5%;
      }
      @media (min-width: $min-width-lg) {
        top: 16%;
      }
      img {
        box-shadow: 0 0 rem(90px) rgba(0, 0, 0, .18);
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        right: 0;
        transition: .2s all;

        &:first-of-type {
          border-radius: rem(10px); // scss-lint:disable PropertySortOrder
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

        &:last-of-type {
          border-radius: rem(28px);
          bottom: 0;
          right: 7rem;

          @media (min-width: $min-width-md) {
            bottom: auto;
            right: rem(198px);
            top: 3rem;
          }

          @media (min-width: $min-width-lg) {
            right: 17rem;
            top: 9rem;
          }
        }
      }
    }
  }

  .power-to-the-people {
    margin-top: 0;

    h6 {
      color: $white;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: rem(29px);
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }

  .vendors {
    background: #daf0ff;

    h6 {
      color: #769bb4;
    }

    &--story {
      p {
        color: #4e555a;
        font-size: 1rem;
        line-height: rem(26px);
      }
    }

    &--list {
      display: block;

      a::after {
        @extend %gray-arrow-right;
      }
    }

    &--imgs {
      position: relative;

      img {
        position: absolute;
        right: rem(7px);
        top: rem(-100px);
      }
    }
  }

  .blog {
    h6 {
      color: #091721;

      &::after {
        @extend %gray-arrow-right;
      }
    }
  }
}
