// scss-lint:disable ColorVariable

%wallet-icon--after {
  background: url('/static/img/wallets/tor.svg');
  background-size: cover;
  border-radius: 50%;
  bottom: rem(-10px);
  box-shadow: 0 0 rem(50px) rgba(0, 0, 0, .2);
  content: '';
  display: block;
  height: rem(28px);
  position: absolute;
  right: rem(-5px);
  width: rem(28px);
}

.home {
  .intro {
    h6 {
      color: #647886;
    }

    p {
      font-size: rem(18px);
    }
  }

  .benefits {
    background: #daf0ff;

    h6 {
      color: #1a3d55;
    }

    &--item {
      p {
        color: #1a3d55;
        font-size: rem(13px);
        line-height: rem(23px);
      }
    }

    &--url {
      display: block;
      margin-top: rem(40px);

      &::after {
        content: '';
        font-family: "FontAwesome", sans-serif;
        margin-left: rem(10px);
      }
    }

    &--imgs {
      position: relative;

      img {
        box-shadow: 0 0 rem(90px) rgba(0, 0, 0, .18);
        position: absolute;
        right: .5rem;

        &:first-of-type {
          border-radius: rem(10px); // scss-lint:disable PropertySortOrder
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

        &:last-of-type {
          border-radius: rem(28px);
          right: rem(198px);
          top: 3rem;
        }
      }
    }
  }

  .power-to-the-people {
    margin-top: 0;

    h6 {
      color: $white;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: rem(29px);
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }

  .vendors {
    background: #daf0ff;

    h6 {
      color: #769bb4;
    }

    &--story {
      p {
        color: #4e555a;
        font-size: 1rem;
        line-height: rem(26px);
      }
    }

    &--list {
      display: block;

      a {
        &::after {
          content: '';
          font-family: "FontAwesome", sans-serif;
          margin-left: rem(10px);
        }
      }
    }

    &--imgs {
      position: relative;

      img {
        position: absolute;
        right: rem(7px);
        top: rem(-100px);
      }
    }
  }

  .blog {
    h6 {
      color: #091721;

      &::after {
        content: '';
        font-family: "FontAwesome", sans-serif;
        margin-left: rem(10px);
      }
    }
  }
}
