.key-tech {
  &--subheader {
    background: transparent;
    border-bottom: 1px solid #05131e;

    @at-root .scroll & {
      background: $white;

      a {
        color: #111;
      }
    }
  }
}
