.roadmap {
    background: #fbf4f0;

    &--timeline {
      list-style: none;
      padding-left: 0;

      li {
        font-size: rem(14px);
        margin-top: rem(50px);
        position: relative;

        &::after {
          background: #e8d8cf;
          bottom: rem(-45px);
          content: "";
          height: rem(40px);
          left: rem(2px);
          min-width: 2px;
          position: absolute;
          width: rem(2px);
        }

        h3 {
          margin-bottom: 0;
        }

        span {
          color: #00aeff;
        }

        &.planned {
          &::before {
            background: $white;
            border-radius: 50%;
            content: "";
            height: rem(30px);
            left: rem(-40px);
            position: absolute;
            top: .5rem;
            width: rem(30px);
            box-shadow: 0 0 80px rgba(0,0,0,0.2);
          }
        }

        &.done {
          &::before {
            background: #04a5f0;
            border-radius: 50%;
            content: "";
            height: rem(30px);
            left: rem(-40px);
            position: absolute;
            top: .5rem;
            width: rem(30px);
          }
        }

        &:last-of-type {
          &::after {
            background: transparent;
            content: "";
          }
        }
      }
    }

    h6 {
      color: #091721;

      &::after {
        @extend %gray-arrow-right;
      }
    }
  }
