.roadmap {
  &--timeline {
    list-style: none;
    padding-left: 0;

    li {
      // Added variables for correct spacing of alterations of these lines
      $connector-line-wrapper-height: 4rem;
      $connector-line-gap: .5rem;
      $connector-line-height: $connector-line-wrapper-height - (3 * $connector-line-gap);
      $connector-line-offset-y: -($connector-line-height + $connector-line-gap);

      font-size: rem(14px);
      margin-bottom: $connector-line-wrapper-height;
      margin-top: 0;
      position: relative;

      &::after {
        background: #e7d8ce;
        bottom: $connector-line-offset-y;
        content: "";
        height: $connector-line-height;
        left: rem(2px);
        min-width: 2px;
        position: absolute;
        width: rem(2px);
      }

      h3 {
        margin-bottom: 0;
      }

      span {
        color: #00aeff;
      }

      &::before {
        border-radius: 50%;
        content: "";
        height: rem(30px);
        left: -3rem;
        position: absolute;
        top: .5rem;
        width: rem(30px);
      }

      &.planned {
        &::before {
          background: $white;
          box-shadow: 0 0 80px rgba(0, 0, 0, .2);
        }
      }

      &.done {
        &::before {
          background: #04a5f0;
        }
      }

      &:last-of-type {
        &::after {
          display: none;
        }
      }
    }
  }
}
