ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 5px 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

header {
  .menu--verge .menu__item {
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
    display: grid;
    justify-content: center;
    margin: 4em 0;
    text-transform: lowercase;
    grid-template-columns: auto;
  }
  
  .menu--verge .menu__item-name {
    font-size: 1.8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    white-space: pre;
    pointer-events: none;
    color: var(--color-text);
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .menu--verge .menu__item-name span {
    display: inline-block;
  }
  
  .menu--verge .menu__item-label {
    font-size: 1.25em;
    line-height: 1.4;
    overflow: hidden;
    margin: 0;
    text-align: center;
    color: transparent;
    transition: color 0s 0.3s;
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .menu--verge .menu__item:hover .menu__item-label,
  .menu--verge .menu__item:focus .menu__item-label {
    color: #fff;
  }
  
  .menu--verge .menu__item-label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
    transition: transform 0.6s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  }
  
  .menu--verge .menu__item:hover .menu__item-label::before,
  .menu--verge .menu__item:focus .menu__item-label::before {
    transform: translate3d(100%,0,0) translate3d(1px,0,0);
  }
  
  @media screen and (max-width: 50em) {
    .menu--verge .menu__item-label {
      font-size: 0.85em;
    }
  }
}
.ribbon {
  color: #fff;
  min-height: 930px;
  position: relative;
  h1 {
    font-size:50px;
    font-weight:500;
    line-height:56px;
  }
  .blackpaper{
    color: rgba(255,255,255,0.7);
    text-shadow: 0 0 9px rgba(0,0,0,0.27);
    font-weight: 100;
    margin-top: 15px;
    a {
      color: rgba(255,255,255,0.7);
      text-decoration: underline;
    }
  }
  .ribbon-img {
    background: url('/static/img/home-hero-bg.jpg') no-repeat center center;
    background-size: cover;
    min-width: 100%;
    min-height: 930px;
    position: absolute;
    z-index: -100;
  }
  .ribbon-txt {
    margin-top: 180px;
  }
  .btn-wallet {
    margin-right:30px;
    &::before{
      content: "";
      font-family: "FontAwesome", sans-serif;
      margin-right: 10px;
      font-size: 16px;
      line-height: 14px;
    }
  }
  .btn-video {
    &::before {
      content: "";
      font-family: "FontAwesome", sans-serif;
      margin-right: 10px;
      font-size: 13px;
      line-height: 14px;
    }
  }
}
.white-container {
  background: #fff;
  margin-top: 0;
  padding-top: 12rem;
  padding-bottom: 4rem;
  position: relative;
  &--home {
    background: #07121b;
    margin-top: -8rem;
    padding-top: 4rem;
    z-index: 1;
    color:#fff;
    h3 {
      font-size: 19px;
      font-weight: 500;
      span {
        color: #00cbff; 
      }
    }
    p {
      font-size:13px;
      font-weight: 500;
    }
  }
}