@import url('https://fonts.googleapis.com/css?family=Lato');

// VARIABLES
$white: #fff;

$font-color-heading: #091721;

html,
body {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
}

body {
  letter-spacing: .5px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 5px 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}


h1 {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 3.5rem;
}

h3 {
  color: $font-color-heading;
  font-size: 1.2rem;
  font-weight: 600;
}

h2 {
  color: $font-color-heading;
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  color: #647886;
  font-size: .8rem;
  font-weight: 400;
}

// @import 'partials/menu';
@import 'partials/_button';

.ribbon {
  color: $white;
  min-height: 930px;
  position: relative;

  .blackpaper{
    color: rgba(255, 255, 255, .7);
    font-weight: 100;
    margin-top: 15px;
    text-shadow: 0 0 9px rgba(0, 0, 0, .27);

    a {
      color: rgba(255, 255, 255, .7);
      text-decoration: underline;
    }
  }

  .ribbon-img {
    background: url('/static/img/home-hero-bg.jpg') no-repeat center center;
    background-size: cover;
    min-height: 930px;
    min-width: 100%;
    position: absolute;
    z-index: -100;
  }
  .ribbon-txt {
    margin-top: 180px;
  }

  .btn-wallet {
    margin-right: 30px;

    &::before{
      content: '';
      font-family: 'FontAwesome', sans-serif;
      font-size: 16px;
      line-height: 14px;
      margin-right: 10px;
    }
  }

  .btn-video {
    &::before {
      content: '';
      font-family: 'FontAwesome', sans-serif;
      font-size: 13px;
      line-height: 14px;
      margin-right: 10px;
    }
  }

  &--presskit {
    min-height: 540px;
  }
}

.white-container {
  background: $white;
  margin-top: 0;
  padding-bottom: 4rem;
  padding-top: 12rem;
  position: relative;

  &--home,
  &--presskit {
    background: #07121b;
    color: $white;
    margin-top: -8rem;
    padding-top: 4rem;
    z-index: 1;

    h3 {
      font-size: 19px;
      font-weight: 600;

      span {
        color: #00cbff;
      }
    }

    p {
      font-size: 13px;
      font-weight: 400;
    }
  }

  &--presskit {
    background: $white;
    box-shadow: 0 0 2rem 1px rgba(66, 66, 66, .67);
    color: #647886;
    top: 8rem;
  }
}

.presskit {
  .logos {
    img {
      border: .3rem solid $white;
      box-shadow: 0 0 .5rem 1px rgba(128, 128, 128, .24);
      box-sizing: content-box;
      margin-bottom: 3rem;
      max-height: 5rem;
    }

    @media (max-width: 767px) {
      img {
        margin-bottom: 2rem;
      }

      a {
        margin-top: 2rem;
      }
    }
  }
}
