// scss-lint:disable IdSelector
#header {
  left: 0;
  position: fixed;
  right: 0;
  transition: all .2s ease-in-out;
  z-index: 9;

  .row {
    height: 5.5rem;
  }

  img {
    display: block;
  }

  button {
    align-self: center;
    cursor: pointer;
    display: inline-block;
    height: 3rem;
    vertical-align: middle;
    width: 3rem;
  }

  .links {
    display: inline-block;
    vertical-align: middle;
  }

  nav a {
    color: $white;
    font-size: .9375rem;
    line-height: 5.5rem;
    margin: .375rem;
    padding: .375rem;
    text-decoration: none;

    &:last-child {
      font-weight: bold;
      margin-right: .75rem;
    }

    @media (min-width: $min-width-md) {
      margin: .5625rem;
      padding: .5625rem;

      &:last-child {
        margin-right: 18px;
      }
    }
  }

  svg {
    width: 7.5rem;

    path {
      fill: $white;
    }
  }

  .menu {
    &--hamburger {
      background: url('/static/img/menu.svg');
      background-size: cover;
      display: inline-block;
      height: 1.75rem;
      vertical-align: middle;
      width: 1.75rem;
    }
  }

  @at-root .scroll &,
           &.solid {
    // scss-lint:disable ColorVariable

    background: $white;
    box-shadow: 0 0 15px rgba(0, 0, 0, .06);

    nav a,
    svg path {
      fill: #111;
    }
  }
}
