// scss-lint:disable IdSelector

#header {
  left: 0;
  position: fixed;
  right: 0;
  transition: all .2s ease-in-out;
  z-index: 9;

  .row {
    height: rem(88px);
  }

  img {
    display: block;
  }

  .links {
    display: inline-block;
    vertical-align: middle;
  }

  nav a {
    color: $white;
    font-size: rem(15px);
    line-height: rem(88px);
    margin: rem(6px);
    padding: rem(6px);
    text-decoration: none;

    &:last-child {
      font-weight: bold;
    }

    @media (min-width: $min-width-md) {
      margin: rem(9px);
      padding: rem(9px);

      &:last-child {
        margin-right: rem(18px);
      }
    }
  }

  svg {
    width: rem(120px);

    .st2 {
      fill: $white;
      transition: .2s all;
    }
  }

  .menu {
    &--hamburger {
      background: url("/static/img/menu.svg");
      background-size: cover;
      display: inline-block;
      height: rem(28px);
      vertical-align: middle;
      width: rem(28px);
      @media (min-width: $min-width-sm) {
        display: none !important;
      }
    }
  }

  @at-root .scroll &,
           &.solid {
    // scss-lint:disable ColorVariable

    background: $white;
    box-shadow: 0 0 rem(15px) rgba(0, 0, 0, .06);

    nav a {
      color: #111;
    }

    svg {
      .st2 {
        fill: #0f1928;
      }
    }
  }

  @media (max-width: $max-width-xs){
    .links {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
    }
    nav a {
      color: $white;
      line-height: initial;
      margin-right: 0;
      padding-right: 0;
    }
    @at-root .scroll &,
           &.solid {

      .bm-burger-bars {
        background: #111;
      }
      nav a {
        color: $white;
      }
    }

    .bm-burger-button {
      position: fixed;
      width: 36px;
      height: 30px;
      right: 20px;
      top: 30px;
    }

    .bm-burger-bars {
      background: #fff;
      height: 1px !important;
    }

    .bm-cross-button {
      height: 24px;
      width: 24px;
      top: 10px;
      right: 10px;
    }

    .bm-cross {
      background: #bdc3c7;
    }

    .bm-menu {
      background: #111;
      font-size: 1.15em;
    }

    .bm-morph-shape {
      fill: #373a47;
    }

    .bm-item-list {
      color: #fff;
      padding: 0.8em;
    }

    .bm-overlay {
      background: rgba(0, 0, 0, 0.3);
      top:0;right:0;bottom:0;left:0;
    }
    
    .bm-menu-wrap {
      top:0;
      min-height: 101%;
    }
  }
}
