// scss-lint:disable IdSelector
#header {
  position: fixed;
  transition: all .2s ease-in-out;
  width: 100%;
  z-index: 9;

  .row {
    height: 88px;
  }

  img {
    display: block;
  }

  button {
    align-self: center;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    width: 40px;
  }

  .links {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    color: $white;
    font-size: 15px;
    line-height: 88px;
    margin: 6px;
    padding: 6px;
    text-decoration: none;

    &:last-child {
      font-weight: bold;
      margin-right: 12px;
    }

    @media (min-width: 64em) {
      margin: 9px;
      padding: 9px;

      &:last-child {
        margin-right: 18px;
      }
    }
  }


  @at-root .scroll &, &.solid {
    // scss-lint:disable ColorVariable
    background: $white;
    box-shadow: 0 0 15px rgba(0, 0, 0, .06);

    a {
      color: #111;
    }
  }
}

.subheader {
  // scss-lint:disable ColorVariable
  background: linear-gradient(to bottom, rgba(11, 119, 146, 1) 0%,
                                         rgba(14, 148, 182, 1) 50%,
                                         rgba(15, 157, 193, 1) 100%);
  border-bottom: 1px solid transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b7792', endColorstr='#0f9dc1', GradientType=0);
  position: fixed;
  top: 88px;
  transition: all .2s ease-in-out;
  width: 100%;
  z-index: 9;

  .row {
    height: 44px;
  }

  a {
    color: $white;
    font-size: 15px;
    line-height: 44px;
    margin: 6px;
    padding: 6px;
    text-decoration: none;

    @media (min-width: 64em) {
      margin: 9px;
      padding: 9px;

      &:last-child {
        margin-right: 18px;
      }
    }
  }
}
