.learnmore {
  padding-bottom: 1rem;

  pre {
    background: #091721;
    color: #fafafa;
    margin-top: .5rem;
    padding: 1rem;
  }

  > a {
    margin-bottom: 1rem;
  }

  h2, h3, h4 {
    margin-top: 1rem;
  }
}
