// scss-lint:disable ImportantRule

$padding-vertical-desktop: 3rem;
$padding-vertical-desktop-small: rem(24px);
$padding-vertical-desktop-lg: 6rem;
$padding-vertical-desktop-xlg: 9rem;
$padding-vertical-mobile: 2rem;
$padding-vertical-mobile-small: 1rem;
$padding-vertical-mobile-lg: 4rem;
$padding-vertical-mobile-xlg: 6rem;

@-ms-viewport{
  width: device-width;
}

.container--with-gutter {
  padding-left: 1rem;
  padding-right: 1rem;
}

.col--full-height {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.mb-thin {
  margin-bottom: .5rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.no-margin {
  margin: 0;
}

.pt {
  padding-top: $padding-vertical-desktop;
}

.pb {
  padding-bottom: $padding-vertical-desktop;
}

.pt-small {
  padding-top: $padding-vertical-desktop-small;
}

.pb-small {
  padding-bottom: $padding-vertical-desktop-small;
}

// TODO: Rename occurrences to avoid confusion with breakpoints
.pt-lg {
  padding-top: $padding-vertical-desktop-lg;
}

.pb-lg {
  padding-bottom: $padding-vertical-desktop-lg;
}

.pt-xlg {
  padding-top: $padding-vertical-desktop-xlg;
}

.pb-xlg {
  padding-bottom: $padding-vertical-desktop-xlg;
}

.no-padding {
  padding: 0;
}

.text-center {
  text-align: center;
}

.img-responsive {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

@media (max-width: $max-width-xs) {
  .hidden-xs {
    display: none !important;
  }

  .pb {
    padding-bottom: $padding-vertical-mobile;
  }

  .pb-xs {
    padding-bottom: $padding-vertical-mobile;
  }

  .pt-small-xs {
    padding-top: $padding-vertical-mobile-small;
  }

  .pb-small-xs {
    padding-bottom: $padding-vertical-mobile-small;
  }

  .pt {
    padding-top: $padding-vertical-mobile;
  }

  .pt-xs {
    padding-top: $padding-vertical-mobile;
  }

  .pt-small {
    padding-top: $padding-vertical-mobile-small;
  }

  .pb-small {
    padding-bottom: $padding-vertical-mobile-small;
  }

  .pb-xs-0 {
    padding-bottom: 0;
  }

  .pt-xs-0 {
    padding-top: 0;
  }
}
