.ribbon {
  color: $white;
  min-height: rem(930px);
  position: relative;

  h1 {
    color: inherit;
    margin-bottom: 1rem;

    + p {
      margin-bottom: 1rem;
    }
  }

  .blackpaper {
    color: rgba(255, 255, 255, .7); // scss-lint:disable ColorVariable
    font-weight: 400;
    margin-top: 1rem;
    text-shadow: 0 0 rem(9px) rgba(0, 0, 0, .27); // scss-lint:disable ColorVariable

    a {
      color: rgba(255, 255, 255, .7); // scss-lint:disable ColorVariable
      text-decoration: underline;
    }
  }

  &-img {
    background: url('/static/img/home-hero-bg.jpg') no-repeat center center;
    background-size: cover;
    min-height: rem(930px);
    min-width: 100%;
    position: absolute;
    z-index: -100;
  }

  &-txt {
    margin-top: 17.5vh;

    @media (min-width: $min-width-sm) {
      margin-top: rem(180px);
    }
  }

  .btn {
    &-wallet {
      &::before {
        content: '';
        font-family: 'FontAwesome', sans-serif;
        font-size: 1rem;
        line-height: rem(13px);
        margin-right: 1rem;
      }
    }

    &-video {
      &::before {
        content: '';
        font-family: 'FontAwesome', sans-serif;
        font-size: rem(13px);
        line-height: rem(13px);
        margin-right: 1rem;
      }
    }
  }

  &--about,
  &--business {
    // scss-lint:disable ColorVariable DuplicateProperty

    background: #042c42;
    background: -moz-radial-gradient(center, ellipse cover, #042c42 0%, #05131e 46%);
    background: -webkit-radial-gradient(center, ellipse cover, #042c42 0%, #05131e 46%);
    background: radial-gradient(ellipse at center, #042c42 0%, 05131e 46%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#042c42', endColorstr='#05131e', GradientType=1);
    min-height: rem(770px);

    p {
      color: $white;
    }
  }

  &--pressreleases,
  &--presskit {
    min-height: rem(540px);
  }

  &--about {
    // scss-lint:disable ColorVariable DuplicateProperty

    background: #042c42;
    background: -moz-radial-gradient(center, ellipse cover, #042c42 0%, #05131e 46%);
    background: -webkit-radial-gradient(center, ellipse cover, #042c42 0%, #05131e 46%);
    background: radial-gradient(ellipse at center, #042c42 0%, #05131e 46%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#042c42', endColorstr='#05131e', GradientType=1);
    min-height: 25rem;
  }

  &--business {
    min-height: 40rem;
  }
}
