.themed-container {
  // scss-lint:disable ColorVariable PlaceholderInExtend

  background: $white;
  background-position: center;
  background-size: cover;
  margin-top: 0;
  padding-bottom: 4rem;
  padding-top: 12rem;
  position: relative;

  &--dark,
  &--blue,
  &--gray,
  &--image,
  &--linen {
    @extend .themed-container;
  }

  &--business,
  &--dark,
  &--home,
  &--pressrelease,
  &--pressreleases {
    // @media (max-width: $max-width-xs) {
      // padding-bottom: 2rem;
      // padding-top: 12rem;
    // }

    h3,
    p,
    li {
      color: #333;
    }

    h1 {
      color: #091721;

      + p {
        color: #475056;
      }
    }
  }

  &--pressrelease {
    @media (max-width: $max-width-xs) {
      padding-bottom: 2rem;
      padding-top: 7rem;
    }
  }

  &--home {
    padding-bottom: 2rem;
    padding-top: 6rem;

    @media (min-width: $min-width-sm) {
      padding-bottom: 4rem;
      padding-top: 8rem;
    }
  }

  &--press {
    background: $white;
    box-shadow: 0 0 2rem 1px rgba(66, 66, 66, .67);
    color: #647886;
    margin-top: 8rem;
    padding-top: 4rem;
    top: 8rem;
    z-index: 2;

    h3 {
      color: #091721;
      font-size: rem(19px);
      font-weight: 600;

      span {
        color: #00cbff;
      }
    }

    p {
      color: #647886;
      font-size: rem(13px);
      font-weight: 400;
    }
  }

  &--blue {
    background-color: #daf0ff;
    margin-bottom: 12rem;
    padding-bottom: 6rem;
    padding-top: 6rem;

    p {
      color: #1a3d55;
    }

    h3,
    h6 {
      color: #1a3d55;
    }

    &--business {
      margin-bottom: 4rem;

      h2 {
        margin-bottom: 1rem;
      }

      p {
        color: #9b9b9b;
      }
    }

    &--pressreleases {
      margin-bottom: 6rem;
    }

    &--home {
      margin-bottom: 6rem;
      margin-top: 6rem;
      padding-bottom: 4rem;
      padding-top: 4rem;

      @media (min-width: $min-width-sm) {
        padding-bottom: 6rem;
        padding-top: 6rem;
      }

      h6:last-child {
        margin-bottom: 0;
        margin-top: 2rem;

        @media (min-width: $min-width-md) {
          margin-top: 0;
        }
      }
    }
  }

  &--dark {
    &--home {
      background-color: #07121b;
      margin-bottom: 0;
      margin-top: -8rem;
      padding-bottom: 6rem;
      padding-top: 6rem;

      h3 {
        color: $white;
        font-size: rem(19px);
        font-weight: 600;

        span {
          color: #00cbff;
        }
      }

      p {
        color: $white;
        font-size: rem(13px);
        font-weight: 400;
      }
    }

    @at-root .themed-container {
      & &--dark--home {
        background-color: #07121b;
        margin-bottom: 6rem;
        margin-top: 6rem;
        padding-bottom: 4rem;
        padding-top: 4rem;

        @media (min-width: $min-width-sm) {
          padding-bottom: 6rem;
          padding-top: 6rem;
        }
      }
    }
  }

  &--gray,
  &--image {
    background-color: #f7f7f7;
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding-bottom: 12rem;
    padding-top: 12rem;
  }

  &--gray {
    &--pressrelease,
    &--pressreleases {
      padding-bottom: 2rem;
      padding-top: 2rem;

      @media (min-width: $min-width-sm) {
        padding-bottom: 4rem;
        padding-top: 4rem;
      }
    }
  }

  &--linen {
    background: #fcf1eb;

    &--press {
      margin-top: -8rem;
      padding-top: 4rem;
    }
  }
}
