<section class="section col-sm-12 bg-gray" id="contributors">
  <div class="row">
    <div class="twelve columns">
      <h1>{{langPath.contributors.about.header | default: defaultLangPath.contributors.about.header}}</h1>
      <p>{{langPath.contributors.about.paragraph | default: defaultLangPath.contributors.about.paragraph}}</p>
    </div>
  </div>
  <div class="row">
    <div id="contributors-carousel" class="contributors-carousel"></div>
  </div>
  <ol id="carousel-indicators" class="carousel-indicators"></ol>
</section>
