<section class="section col-sm-12" id="developers">
  <div class="row">
    <div class="twelve columns" id="about">
      <h1>{{langPath.developers.about.header | default: defaultLangPath.developers.about.header}}</h1>
      <p>{{langPath.developers.about.paragraph | default: defaultLangPath.developers.about.paragraph}}</p>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <h4>{{langPath.developers.resources.header | default: defaultLangPath.developers.resources.header}}</h4>
      <ul>
        <li><a href="https://rubygems.org/pages/download" target="_blank">{{langPath.developers.resources.rubygems_howto | default: defaultLangPath.developers.resources.rubygems_howto}}</a></li>
        <li><a href="https://desktop.github.com/" target="_blank">{{langPath.developers.resources.github_gui | default: defaultLangPath.developers.resources.github_gui}}</a></li>
        <li><a href="https://github.com/vergecurrency?tab=repositories" target="_blank">{{langPath.developers.resources.github_repos | default: defaultLangPath.developers.resources.github_repos}}</a></li>
        <li><a href="https://github.com/vergecurrency/php-verge/" target="_blank">{{langPath.developers.resources.php | default: defaultLangPath.developers.resources.php}}</a></li>
        <li><a href="https://github.com/vergecurrency/verge-ruby/" target="_blank">{{langPath.developers.resources.ruby | default: defaultLangPath.developers.resources.ruby}}</a></li>
        <li><a href="https://github.com/vergecurrency/verge-python" target="_blank">{{langPath.developers.resources.python | default: defaultLangPath.developers.resources.python}}</a></li>
        <li><a href="https://github.com/vergecurrency/nodejs-verge" target="_blank">{{langPath.developers.resources.nodejs | default: defaultLangPath.developers.resources.nodejs}}</a></li>
      </ul>
    </div>
  </div>
</section>
