<section class="section col-sm-12 bg-gray" id="donate">
  <div class="row">
    <div class="twelve columns">
      <h1>{{langPath.donate.about.header | default: defaultLangPath.donate.about.header}}</h1>
      <p>{{langPath.donate.about.paragraph | default: defaultLangPath.donate.about.paragraph}}</p>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <img class="donate-verge-logo" src="../../images/favicon/mstile-310x310.png" alt="Verge" title="Verge">
      <h3 class="donate-wallet-header">{{langPath.donate.wallets.verge.header | default: langPath.donate.wallets.verge.header}}</h4>
      <ul>
        <li>
          <a href="https://prohashing.com/explorer/Verge/{{langPath.donate.wallets.verge.address || defaultLangPath.donate.wallets.verge.address}}" target="_blank">
            {{langPath.donate.wallets.verge.address || defaultLangPath.donate.wallets.verge.address}}
          </a>
        </li>
      </ul>
    </div>
    <div class="six columns">
      <i class="fa fa-btc fa-2x donate-bitcoin-logo" aria-hidden="true"></i>
      <h3 class="donate-wallet-header">{{langPath.donate.wallets.bitcoin.header | default: langPath.donate.wallets.bitcoin.header}}</h4>
      <ul>
        <li>
          <a href="https://blockchain.info/address/{{langPath.donate.wallets.bitcoin.address || defaultLangPath.donate.wallets.bitcoin.address}}" target="_blank">
            {{langPath.donate.wallets.bitcoin.address || defaultLangPath.donate.wallets.bitcoin.address}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
