<section class="section col-sm-12 bg-gray" id="exchanges">
  <div class="row">
    <div class="twelve columns">
      <h1>{{langPath.exchanges.header | default: defaultLangPath.exchanges.header}}</h1>
      <p>{{langPath.exchanges.paragraph | default: defaultLangPath.exchanges.paragraph}}</p>
      <ul class="exchange-buttons-list twelve columns">
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="https://bittrex.com/Market/Index?MarketName=BTC-XVG" target="_blank" class="card exchange-anchor">
            <div class="exchange-img-container">
                <div class="exchange-img bittrex-img"></div>
            </div>
            <h3 class="exchange-title-text">
              {{langPath.exchanges.bittrex | default: defaultLangPath.exchanges.bittrex}}
            </h3>
          </a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="https://BitSquare.io" target="_blank" class="card exchange-anchor">
            <div class="exchange-img-container">
                <div class="exchange-img bitsquare-img"></div>
            </div>
            <h3 class="exchange-title-text">
              {{langPath.exchanges.bitsquare | default: defaultLangPath.exchanges.bitsquare}}
            </h3>
          </a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="https://c-cex.com/?p=xvg-btc" target="_blank" class="card exchange-anchor">
            <div class="exchange-img-container">
                <div class="exchange-img c-cex-img"></div>
            </div>
            <h3 class="exchange-title-text">
              {{langPath.exchanges.ccex | default: defaultLangPath.exchanges.ccex}}
            </h3>
          </a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="https://www.litebit.eu/en/buy/verge" target="_blank" class="card exchange-anchor">
            <div class="exchange-img-container">
                <div class="exchange-img litebit-img"></div>
            </div>
            <h3 class="exchange-title-text">
              {{langPath.exchanges.litebit | default: defaultLangPath.exchanges.litebit}}
            </h3>
          </a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="https://www.southxchange.com/Market/Book/XVG/BTC" target="_blank" class="card exchange-anchor">
            <div class="exchange-img-container">
                <div class="exchange-img southxchange-img"></div>
            </div>
            <h3 class="exchange-title-text">
              {{langPath.exchanges.southxchange | default: defaultLangPath.exchanges.southxchange}}
            </h3>
          </a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="https://novaexchange.com/market/BTC_XVG/" target="_blank" class="card exchange-anchor">
            <div class="exchange-img-container">
                <div class="exchange-img novaexchange-img"></div>
            </div>
            <h3 class="exchange-title-text">
              {{langPath.exchanges.novaexchange | default: defaultLangPath.exchanges.novaexchange}}
            </h3>
          </a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="https://www.cryptopia.co.nz/Exchange/?market=XVG_BTC" target="_blank" class="card exchange-anchor">
            <div class="exchange-img-container">
                <div class="exchange-img cryptopia-img"></div>
            </div>
            <h3 class="exchange-title-text">
              {{langPath.exchanges.cryptopia | default: defaultLangPath.exchanges.cryptopia}}
            </h3>
          </a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="https://www.coingather.com/exchange/XVG/BTC" target="_blank" class="card exchange-anchor">
            <div class="exchange-img-container">
                <div class="exchange-img coingather-img"></div>
            </div>
            <h3 class="exchange-title-text">
              {{langPath.exchanges.coingather | default: defaultLangPath.exchanges.coingather}}
            </h3>
          </a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="https://www.coinspot.com.au/buy/xvg" target="_blank" class="card exchange-anchor">
            <div class="exchange-img-container">
                <div class="exchange-img coinspot-img"></div>
            </div>
            <h3 class="exchange-title-text">
              {{langPath.exchanges.coinspot | default: defaultLangPath.exchanges.coinspot}}
            </h3>
          </a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="https://blocknet.co/" target="_blank" class="card exchange-anchor">
            <div class="exchange-img-container">
                <div class="exchange-img blocknet-img"></div>
            </div>
            <h3 class="exchange-title-text">
              {{langPath.exchanges.blocknet | default: defaultLangPath.exchanges.blocknet}}
            </h3>
          </a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="https://bitcointalk.org/index.php?topic=1092682.0" target="_blank" class="card exchange-anchor">
            <div class="exchange-img-container">
                <div class="exchange-img exchangedi2p-img"></div>
            </div>
            <h3 class="exchange-title-text">
              {{langPath.exchanges.exchangedi2p | default: defaultLangPath.exchanges.exchangedi2p}}
            </h3>
          </a>
        </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="https://nexchange.io/" target="_blank" class="card exchange-anchor">
            <div class="exchange-img-container">
                <div class="exchange-img nexchange-img"></div>
            </div>
            <h3 class="exchange-title-text">
              {{langPath.exchanges.nexchange | default: defaultLangPath.exchanges.nexchange}}
            </h3>
          </a>
        </li>
                <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="https://coinwale.com/" target="_blank" class="card exchange-anchor">
            <div class="exchange-img-container">
                <div class="exchange-img coinwale-img"></div>
            </div>
            <h3 class="exchange-title-text">
              {{langPath.exchanges.coinwale | default: defaultLangPath.exchanges.coinwale}}
            </h3>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
