<section class="section col-md-12" id="mission">
  <div class="row">
    <div class="six columns" id="mission">
      <h1>{{langPath.mission.header | default: defaultLangPath.mission.header}}</h1>
      <p>{{langPath.mission.paragraph | default: defaultLangPath.mission.paragraph}}</p>
    </div>
    <div class="six columns" id="about">
      <h1>{{langPath.info.about.header | default: defaultLangPath.info.about.header}}</h1>
      <p>{{langPath.info.about.paragraph | default: defaultLangPath.info.about.paragraph}}</p>
    </div>
  </div>
</section>
<section class="section col-md-12" id="info">
  <div class="row">
    <div class="info-row col-md-12">
      <div class="col-xs-12 col-sm-12 col-md-4 info-column">
        <div class="col-md-2 info-icon-container">
          <i class="fa fa-lock fa-2x"></i>
        </div>
        <div class="col-md-10 info-text-container">
          <h5>
              {{langPath.info.about.cards.privacy.header | default: defaultLangPath.info.about.cards.privacy.header}}
          </h5>
          <p>
              {{langPath.info.about.cards.privacy.paragraph | default: defaultLangPath.info.about.cards.privacy.paragraph}}
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 info-column">
        <div class="col-md-2 info-icon-container">
          <i class="fa fa-user fa-2x"></i>
        </div>
        <div class="col-md-10 info-text-container">
          <h5>
              {{langPath.info.about.cards.community.header | default: defaultLangPath.info.about.cards.community.header}}
          </h5>
          <p>
              {{langPath.info.about.cards.community.paragraph | default: defaultLangPath.info.about.cards.community.paragraph}}
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 info-column">
          <div class="col-md-2 info-icon-container">
            <i class="fa fa-rocket fa-2x"></i>
          </div>
          <div class="col-md-10 info-text-container">
            <h5>
                {{langPath.info.about.cards.speed.header | default: defaultLangPath.info.about.cards.speed.header}}
            </h5>
            <p>
                {{langPath.info.about.cards.speed.paragraph | default: defaultLangPath.info.about.cards.speed.paragraph}}
            </p>
          </div>
      </div>
    </div>
    <div class="info-row col-md-12">
      <div class="col-xs-12 col-sm-12 col-md-4 info-column">
        <div class="col-md-2 info-icon-container">
          <i class="fa fa-cogs fa-2x"></i>
        </div>
        <div class="col-md-10 info-text-container">
          <h5>
              {{langPath.info.about.cards.development.header | default: defaultLangPath.info.about.cards.development.header}}
          </h5>
          <p>
              {{langPath.info.about.cards.development.paragraph | default: defaultLangPath.info.about.cards.development.paragraph}}
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 info-column">
          <div class="col-md-2 info-icon-container">
              <i class="fa fa-mobile fa-2x"></i>
          </div>
          <div class="col-md-10 info-text-container">
            <h5>
                {{langPath.info.about.cards.adoption.header | default: defaultLangPath.info.about.cards.adoption.header}}
            </h5>
            <p>
                {{langPath.info.about.cards.adoption.paragraph | default: defaultLangPath.info.about.cards.adoption.paragraph}}
            </p>
          </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 info-column">
        <div class="col-md-2 info-icon-container">
          <i class="fa fa-users fa-2x"></i>
        </div>
        <div class="col-md-10 info-text-container">
          <h5>
              {{langPath.info.about.cards.opensource.header | default: defaultLangPath.info.about.cards.opensource.header}}
          </h5>
          <p>
              {{langPath.info.about.cards.opensource.paragraph | default: defaultLangPath.info.about.cards.opensource.paragraph}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="resources_specs_container">
      <div class="six columns">
        <h4>{{langPath.info.resources.header | default: defaultLangPath.info.resources.header}}</h4>
        <ul>
          <li><a href="/assets/Verge-Anonymity-Centric-CryptoCurrency.pdf" target="_blank">{{langPath.info.resources.black_paper | default: defaultLangPath.info.resources.black_paper}}</a></li>
          <li><a href="/pools/" target="_blank">{{langPath.info.resources.mining_pools | default: defaultLangPath.info.resources.mining_pools}}</a> (<a href="/mining/" target="_blank">{{langPath.info.resources.mining_resources | default: defaultLangPath.info.resources.mining_resources}}</a>)</li>
          <li><a href="https://verge-blockchain.info" target="_blank">{{langPath.info.resources.info | default: defaultLangPath.info.resources.info}}</a></li>
          <li><a href="https://prohashing.com/explorer/Verge/" target="_blank">{{langPath.info.resources.blockchain_explorer_prohashing | default: defaultLangPath.info.resources.blockchain_explorer_prohashing}}</a></li>
          <li><a href="http://yiimp.eu/explorer/XVG" target="_blank">{{langPath.info.resources.blockchain_explorer_ccminer | default: defaultLangPath.info.resources.blockchain_explorer_ccminer}}</a></li>
        </ul>
      </div>
      <div class="six columns">
        <h4>{{langPath.info.tech_specs.header | default: defaultLangPath.info.tech_specs.header}}</h4>
        <ul>
          <li>{{langPath.info.tech_specs.symbol | default: defaultLangPath.info.tech_specs.symbol}}</li>
          <li>{{langPath.info.tech_specs.algo | default: defaultLangPath.info.tech_specs.algo}}</li>
          <li>{{langPath.info.tech_specs.block_time | default: defaultLangPath.info.tech_specs.block_time}}</li>
          <li>{{langPath.info.tech_specs.rpc_port | default: defaultLangPath.info.tech_specs.rpc_port}}</li>
          <li>{{langPath.info.tech_specs.p2p_port | default: defaultLangPath.info.tech_specs.p2p_port}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
