{% include shared/header.html %}

<section class="section col-md-12" id="p2p">
  <center>
    <body class="p2p-header-container">
      <div class="p2p-page">
        <div style="text-align: justify;">
          <div style="width:1100px; margin:0 auto;">
            <h1 class="header">{{langPath.p2p.header | default: defaultLangPath.p2p.header}}</h1>
            <div class="row">
              <div class="twelve columns" id="p2p">
                <p>{{langPath.p2p.paragraph | default: defaultLangPath.p2p.paragraph}}</p>
                <p>{{langPath.p2p.paragraph2 | default: defaultLangPath.p2p.paragraph2}}</p>
                <p>{{langPath.p2p.paragraph3 | default: defaultLangPath.p2p.paragraph3}}</p>
                <p>{{langPath.p2p.paragraph4 | default: defaultLangPath.p2p.paragraph4}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </center>
</section>
