<section class="section col-sm-12 bg-gray" id="roadmap">
  <div class="row">
    <div class="twelve columns">
      <div>
        <h1>{{langPath.roadmap.header | default: defaultLangPath.roadmap.header}}</h1>
        <p>{{langPath.roadmap.paragraph | default: defaultLangPath.roadmap.paragraph}}</p>
		<section id="cd-timeline" class="cd-container">
		  <div class="cd-timeline-block">
			<div class="cd-timeline-img completed cd-picture">
			  <i class="fa fa-check"></i>
			</div>
			<div class="cd-timeline-content card">
			  <h2>{{langPath.roadmap.blackpaper.header | default: defaultLangPath.roadmap.blackpaper.header}}</h2>
			  <span class="cd-date">{{langPath.roadmap.blackpaper.date | default: defaultLangPath.roadmap.blackpaper.date}}</span>
			</div>
		  </div>
		  <div class="cd-timeline-block">
			<div class="cd-timeline-img completed cd-picture">
			  <i class="fa fa-check"></i>
			</div>
			<div class="cd-timeline-content card">
			  <h2>{{langPath.roadmap.core_wallet_release.header | default: defaultLangPath.roadmap.core_wallet_release.header}}</h2>
			  <p>
				{{langPath.roadmap.core_wallet_release.paragraph | default: defaultLangPath.roadmap.core_wallet_release.paragraph}}
			  </p>
			  <span class="cd-date">{{langPath.roadmap.core_wallet_release.date | default: defaultLangPath.roadmap.core_wallet_release.date}}</span>
			</div>
		  </div>
		  <div class="cd-timeline-block">
			<div class="cd-timeline-img completed cd-picture">
			  <i class="fa fa-check"></i>
			</div>
			<div class="cd-timeline-content card">
			  <h2>{{langPath.roadmap.core_wallet_release_2.header | default: defaultLangPath.roadmap.core_wallet_release_2.header}}</h2>
			  <p>
				{{langPath.roadmap.core_wallet_release_2.paragraph | default: defaultLangPath.roadmap.core_wallet_release_2.paragraph}}
			  </p>
			  <span class="cd-date">{{langPath.roadmap.core_wallet_release_2.date | default: defaultLangPath.roadmap.core_wallet_release_2.date}}</span>
			</div>
		  </div>
		  <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
			  <i class="fa fa-check"></i>
			</div>
			<div class="cd-timeline-content card">
			  <h2>{{langPath.roadmap.i2P_android_wallet.header | default: defaultLangPath.roadmap.i2P_tor_android_wallet.header}}</h2>
			  <p>
				{{langPath.roadmap.i2P_android_wallet.paragraph | default: defaultLangPath.roadmap.i2P_android_wallet.paragraph}}
			  </p>
			  <span class="cd-date">{{langPath.roadmap.i2P_android_wallet.date | default: defaultLangPath.roadmap.i2P_android_wallet.date}}</span>
			</div>
		  </div>
		  <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
			  <i class="fa fa-check"></i>
			</div>
			<div class="cd-timeline-content card">
			  <h2>{{langPath.roadmap.official_mining_pool.header | default: defaultLangPath.roadmap.official_mining_pool.header}}</h2>
			  <p>
				{{langPath.roadmap.official_mining_pool.paragraph | default: defaultLangPath.roadmap.official_mining_pool.paragraph}}
			  </p>
			  <span class="cd-date">{{langPath.roadmap.official_mining_pool.date | default: defaultLangPath.roadmap.official_mining_pool.date}}</span>
			</div>
		  </div>
		  <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
			  <i class="fa fa-check"></i>
			</div>
			<div class="cd-timeline-content card">
			  <h2>{{langPath.roadmap.merchandise_store.header | default: defaultLangPath.roadmap.merchandise_store.header}}</h2>
			  <p>
				{{langPath.roadmap.merchandise_store.paragraph | default: defaultLangPath.roadmap.merchandise_store.paragraph}}
			  </p>
			  <span class="cd-date">{{langPath.roadmap.merchandise_store.date | default: defaultLangPath.roadmap.merchandise_store.date}}</span>
			</div>
		  </div>
		  <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
			  <i class="fa fa-check"></i>
			</div>
			<div class="cd-timeline-content card">
			  <h2>{{langPath.roadmap.rsk_smart_contracts.header | default: defaultLangPath.roadmap.rsk_smart_contracts.header}}</h2>
			  <p>
				{{langPath.roadmap.rsk_smart_contracts.paragraph | default: defaultLangPath.roadmap.rsk_smart_contracts.paragraph}}
			  </p>
			  <span class="cd-date">{{langPath.roadmap.rsk_smart_contracts.date | default: defaultLangPath.roadmap.rsk_smart_contracts.date}}</span>
			</div>
      <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
			  <i class="fa fa-check"></i>
			</div>
      <div class="cd-timeline-content card">
			  <h2>{{langPath.roadmap.new_website.header | default: defaultLangPath.roadmap.new_website.header}}</h2>
			  <p>
				{{langPath.roadmap.new_website.paragraph | default: defaultLangPath.roadmap.new_website.paragraph}}
			  </p>
			  <span class="cd-date">{{langPath.roadmap.new_website.date | default: defaultLangPath.roadmap.new_website.date}}</span>
			</div>
		  </div>
		</section>
      </div>
    </div>
  </div>
</section>
