<section class="section col-sm-12 bg-gray" id="roadmap">
  <div class="row container">
    <div class="twelve columns">
      <div>
        <h1>{{langPath.roadmap.header | default: defaultLangPath.roadmap.header}}</h1>
        <section id="cd-timeline" class="cd-container">
          <div class="cd-timeline-block">
            <div class="cd-timeline-img completed cd-picture">
              <i class="fa fa-check"></i>
            </div>
            <div class="cd-timeline-content">
              <h2>{{langPath.roadmap.blackpaper.header | default: defaultLangPath.roadmap.blackpaper.header}}</h2>
              <span class="cd-date">{{langPath.roadmap.blackpaper.date | default: defaultLangPath.roadmap.blackpaper.date}}</span>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img completed cd-movie">
              <i class="fa fa-check"></i>
            </div>
            <div class="cd-timeline-content">
              <h2>{{langPath.roadmap.electrum_i2P_server_client.header | default: defaultLangPath.roadmap.electrum_i2P_server_client.header}}</h2>
              <span class="cd-date">{{langPath.roadmap.electrum_i2P_server_client.date | default: defaultLangPath.roadmap.electrum_i2P_server_client.date}}</span>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img completed cd-picture">
              <i class="fa fa-check"></i>
            </div>
            <div class="cd-timeline-content">
              <h2>{{langPath.roadmap.electrum_tor_server_client.header | default: defaultLangPath.roadmap.electrum_tor_server_client.header}}</h2>
              <span class="cd-date">{{langPath.roadmap.electrum_tor_server_client.date | default: defaultLangPath.roadmap.electrum_tor_server_client.date}}</span>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img completed cd-movie">
              <i class="fa fa-check"></i>
            </div>
            <div class="cd-timeline-content">
              <h2>{{langPath.roadmap.electrum_binaries.header | default: defaultLangPath.roadmap.electrum_binaries.header}}</h2>
                <p>
                  {{langPath.roadmap.electrum_binaries.paragraph | default: defaultLangPath.roadmap.electrum_binaries.paragraph}}
                </p>
                <span class="cd-date">{{langPath.roadmap.electrum_binaries.date | default: defaultLangPath.roadmap.electrum_binaries.date}}</span>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img completed cd-picture">
              <i class="fa fa-check"></i>
            </div>
            <div class="cd-timeline-content">
              <h2>{{langPath.roadmap.marketing_campaign.header | default: defaultLangPath.roadmap.marketing_campaign.header}}</h2>
              <p>
                {{langPath.roadmap.marketing_campaign.paragraph | default: defaultLangPath.roadmap.marketing_campaign.paragraph}}
              </p>
              <span class="cd-date">{{langPath.roadmap.marketing_campaign.date | default: defaultLangPath.roadmap.marketing_campaign.date}}</span>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img completed cd-movie">
              <i class="fa fa-check"></i>
            </div>
            <div class="cd-timeline-content">
              <h2>{{langPath.roadmap.redesign_website.header | default: defaultLangPath.roadmap.redesign_website.header}}</h2>
              <span class="cd-date">{{langPath.roadmap.redesign_website.date | default: defaultLangPath.roadmap.redesign_website.date}}</span>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img completed cd-picture">
              <i class="fa fa-check"></i>
            </div>
            <div class="cd-timeline-content">
              <h2>{{langPath.roadmap.radio.header | default: defaultLangPath.roadmap.radio.header}}</h2>
              <p>
                {{langPath.roadmap.radio.paragraph | default: defaultLangPath.roadmap.radio.paragraph}}
              </p>
              <span class="cd-date">{{langPath.roadmap.radio.date | default: defaultLangPath.roadmap.radio.date}}</span>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
              <i class="fa fa-check"></i>
            </div>
            <div class="cd-timeline-content">
              <h2>{{langPath.roadmap.i2P_tor_android_wallets.header | default: defaultLangPath.roadmap.i2P_tor_android_wallets.header}}</h2>
              <p>
                {{langPath.roadmap.i2P_tor_android_wallets.paragraph | default: defaultLangPath.roadmap.i2P_tor_android_wallets.paragraph}}
              </p>
              <span class="cd-date">{{langPath.roadmap.i2P_tor_android_wallets.date | default: defaultLangPath.roadmap.i2P_tor_android_wallets.date}}</span>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
              <i class="fa fa-check"></i>
            </div>
            <div class="cd-timeline-content">
              <h2>{{langPath.roadmap.core_wallet_release.header | default: defaultLangPath.roadmap.core_wallet_release.header}}</h2>
              <p>
                {{langPath.roadmap.core_wallet_release.paragraph | default: defaultLangPath.roadmap.core_wallet_release.paragraph}}
              </p>
              <span class="cd-date">{{langPath.roadmap.core_wallet_release.date | default: defaultLangPath.roadmap.core_wallet_release.date}}</span>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
              <i class="fa fa-check"></i>
            </div>
            <div class="cd-timeline-content">
              <h2>{{langPath.roadmap.rsk_smart_contracts.header | default: defaultLangPath.roadmap.rsk_smart_contracts.header}}</h2>
              <p>
                {{langPath.roadmap.rsk_smart_contracts.paragraph | default: defaultLangPath.roadmap.rsk_smart_contracts.paragraph}}
              </p>
              <span class="cd-date">{{langPath.roadmap.rsk_smart_contracts.date | default: defaultLangPath.roadmap.rsk_smart_contracts.date}}</span>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
              <i class="fa fa-check"></i>
            </div>
            <div class="cd-timeline-content">
              <h2>{{langPath.roadmap.wallet_ui.header | default: defaultLangPath.roadmap.wallet_ui.header}}</h2>
              <span class="cd-date">{{langPath.roadmap.wallet_ui.date | default: defaultLangPath.roadmap.wallet_ui.date}}</span>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
              <i class="fa fa-check"></i>
            </div>
            <div class="cd-timeline-content">
              <h2>{{langPath.roadmap.merchandise_store.header | default: defaultLangPath.roadmap.merchandise_store.header}}</h2>
                <p>
                {{langPath.roadmap.merchandise_store.paragraph | default: defaultLangPath.roadmap.merchandise_store.paragraph}}
              </p>
              <span class="cd-date">{{langPath.roadmap.merchandise_store.date | default: defaultLangPath.roadmap.merchandise_store.date}}</span>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>