<section class="splash">
  {% include shared/header.html hideLangDropdown=false %}
  <div class="splash-inner-container row">
    <h1 class="tagline">
      {{langPath.tagline | default: defaultLangPath.tagline}}
    </h1>
    <div class="main-buttons-container">
      <div class="main-button-container">
        <button class="btn btn-default watch-main-video-button" type="button" data-toggle="modal" data-target="#main-video-modal">{{langPath.intro_button | default: defaultLangPath.intro_button}}</button>
      </div>
      <div class="main-button-container">
        <ul class="main-wallet-download-buttons-list col-sm-12">
          <li>
            <a href="https://github.com/vergecurrency/electrum-xvg/releases/download/2.4/electrum-xvg-win64.zip" class="button wallet-download-button windows-download-button">
              <div class="wallet-download-button-download-text">
                {{langPath.download | default: defaultLangPath.download}}
              </div>
              <i class="fa fa-windows wallet-download-button-icon" aria-hidden="true"></i>
              <div class="wallet-download-button-description-text">{{langPath.wallets.electrum_windows | default: defaultLangPath.wallets.electrum_windows}}</div>
            </a>
          </li>
          <li>
            <a href="https://github.com/vergecurrency/electrum-xvg/releases/download/2.4/electrum-xvg-2.4-macosx.dmg" class="button wallet-download-button macos-download-button">
              <div class="wallet-download-button-download-text">
                {{langPath.download | default: defaultLangPath.download}}
              </div>
              <i class="fa fa-apple wallet-download-button-icon" aria-hidden="true"></i>
              <div class="wallet-download-button-description-text">{{langPath.wallets.electrum_osx | default: defaultLangPath.wallets.electrum_osx}}</div>
            </a>
          </li>
          <li>
            <a href="https://github.com/vergecurrency/VERGE/releases/download/2.1/vergetorandroid.apk" class="button wallet-download-button android-download-button">
              <div class="wallet-download-button-download-text">
                {{langPath.download | default: defaultLangPath.download}}
              </div>
              <i class="fa fa-android wallet-download-button-icon" aria-hidden="true"></i>
              <div class="wallet-download-button-description-text">{{langPath.wallets.android | default: defaultLangPath.wallets.android}}</div>
            </a>
          </li>
          <li>
            <a href="https://github.com/vergecurrency/VERGE/releases/download/2.1/arch_2.1.0.tar" class="button wallet-download-button arch-download-button">
              <div class="wallet-download-button-download-text">
                {{langPath.download | default: defaultLangPath.download}}
              </div>
              <i class="fa fl-archlinux wallet-download-button-icon" aria-hidden="true"></i>
              <div class="wallet-download-button-description-text">{{langPath.wallets.archlinux | default: defaultLangPath.wallets.archlinux}}</div>
            </a>
          </li>
          <li>
            <a href="https://github.com/vergecurrency/VERGE/releases/download/2.1/centos7_2.1.0.tar" class="button wallet-download-button centos-download-button">
              <div class="wallet-download-button-download-text">
                {{langPath.download | default: defaultLangPath.download}}
              </div>
              <i class="fa fl-centos wallet-download-button-icon" aria-hidden="true"></i>
              <div class="wallet-download-button-description-text">{{langPath.wallets.centos | default: defaultLangPath.wallets.centos}}</div>
            </a>
          </li>
          <li>
            <a href="https://github.com/vergecurrency/VERGE/releases/download/2.1/debian8_v2.1.0.tar" class="button wallet-download-button debian-download-button">
              <div class="wallet-download-button-download-text">
                {{langPath.download | default: defaultLangPath.download}}
              </div>
              <i class="fa fl-debian wallet-download-button-icon" aria-hidden="true"></i>
              <div class="wallet-download-button-description-text">{{langPath.wallets.debian | default: defaultLangPath.wallets.debian}}</div>
            </a>
          </li>
          <li>
            <a href="https://github.com/vergecurrency/VERGE/releases/download/2.1/fedora23_2.1.0.tar" class="button wallet-download-button fedora-download-button">
              <div class="wallet-download-button-download-text">
                {{langPath.download | default: defaultLangPath.download}}
              </div>
              <i class="fa fl-fedora wallet-download-button-icon" aria-hidden="true"></i>
              <div class="wallet-download-button-description-text">{{langPath.wallets.fedora | default: defaultLangPath.wallets.fedora}}</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="clouds">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="main-video-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="close-button">
            <button type="button" class="close" data-dismiss="modal" aria-label="{{langPath.close | default: defaultLangPath.close}}" title="{{langPath.close | default: defaultLangPath.close}}">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class='embed-container'></div>
        </div>
      </div>
    </div>
  </div>
</section>