.ribbon {
  &--meetup20 {
    min-height: rem(420px);

    .ribbon {
      &-img {
        background-image: none;
      /*background: url(/static/img/meetup-2020/verge-meetup-top.png) no-repeat bottom center;*/
      background-color: #04131F;
      background-size: contain;
      min-height: inherit;
      min-width: 100%;
      position: absolute;
      z-index: -100;
      }

      &-txt {
      margin-top: rem(56px);

      @media (min-width: $min-width-sm) {
        margin-top: rem(100px);
      }

      h1 {
          margin-bottom: rem(20px);

          span {
          color: $picton-blue;
          }
      }

      p {
          color: white;
          margin-bottom: rem(24px);
      }
      }
    }
  }
}

.meetup {
  &--bottom20 {
    background-image: none;
    /*background: url(/static/img/meetup-2020/meetup-bottom.png) bottom center no-repeat;*/
    background-size: rem(140px);
    height: 4rem;
  }

  &__counter-number {
    color: $picton-blue;
    font-size: rem(60px);
    font-weight: 500;
  }

  &--programme {
    h2 {
      font-size: rem(24px);

      @media (min-width: $min-width-sm) {
        font-size: rem(30px);
      }

      span {
        color: $picton-blue;
      }
    }

    a {
      word-wrap: break-word;
      color: #1db6dc;
    }
  }

  &--tickets {
    h2 {
      font-size: rem(28px);

      @media (min-width: $min-width-sm) {
        font-size: rem(36px);
      }

      span {
        color: $picton-blue;
      }
    }

    .col--ticket {
      background: white;
      box-shadow: 0 0 1rem 1px rgba(127, 127, 127, .1);
      margin-bottom: 2rem;
      padding: 1.5rem;
      border: 1px solid #d5dbe0;

      @media (min-width: $min-width-sm) {
        margin-bottom: 0;
        padding: rem(24px);
      }

      @media (min-width: $min-width-md) {
        box-shadow: 0 0 1rem 1px rgba(127, 127, 127, .1);
        padding: 1.5rem;
      }

      &:nth-of-type(2) {
        z-index: 1;

        @media (min-width: $min-width-sm) {
          box-shadow: 0 0 1rem 1px rgba(127, 127, 127, .1);
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      .btn {
        width: 100%;
      }
    }
  }

  &--media {
    h2 {
      font-size: rem(28px);

      @media (min-width: $min-width-sm) {
        font-size: rem(36px);
      }

      span {
        color: $picton-blue;
      }
    }

    .col--fullheight {
      position: relative;

      img {
        margin-bottom: 1rem;

        @media (min-width: $min-width-sm) {
          margin-bottom: rem(18px);
        }

        @media (min-width: $min-width-md) {
          margin-bottom: rem(23px);
        }

        @media (min-width: $min-width-lg) {
          margin-bottom: rem(27px);
        }
      }
    }
  }

  .tickets__price {
    color: #ef2323;
    font-size: rem(36px);
  
    &--earlybird {
      color: #d3d3d3;
      text-decoration: line-through;
    }
  }
}

.bg__grey {
  background-color: #eff3f6;
}

.border__lines {
  border-top: 2px solid #becbd4;
  border-bottom: 2px solid #becbd4;
  margin-top: 2em;
  margin-bottom: 2em;
}

.span__euro {
  font-size: 24px;
}

.sponsor-container .img-responsive {
  margin: 8px 0;
}

.warn {
  color: #ef2323;
}

.advert__logo {
  max-height: 180px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #eee;
}

@media (max-width: 768px) {
  .sponsor-container .img-responsive {
    margin: 8px auto;
  }
}
