@import url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i);

// VARIABLES
// - RESPONSIVE
$max-width-xs: 47.9375em; // as 48em is defined by flexboxgrid,
$max-width-sm: 63.9375em; // as 64em is defined by flexboxgrid,
// this seems to scale along pretty well..
$min-width-xs--iphone-plus: 414px;
$min-width-xs: 30em;
$min-width-sm: 48em;
$min-width-md: 64em;
$max-width-md: 991px;
$min-width-lg: 75em;

$base-font-size: 16px;

// - BRAND COLORS
$black: #000;
$white: #fff;
$pacific-blue-1: #0095c1;
$picton-blue: #4cc2f1;
$allports: #006994;
$blizzard-blue: #dbeff8;
$astronaut-blue: #003d58;
$venice-blue: #075a7f;
$dark-blue: #091721;

$colors: (
  black: $black,
  white: $white,
  pacific-blue-1: $pacific-blue-1,
  picton-blue: $picton-blue,
  allports: $allports,
  blizzard-blue: $blizzard-blue,
  astronaut-blue: $astronaut-blue,
  venice-blue: $venice-blue,
  dark-blue: $dark-blue
);

@function rem($pixels, $size: $base-font-size) {
  @return $pixels / ($size / (1rem * 1));
}

%gray-arrow-right {
  content: '\2192';
  font-size: 1rem;
  margin-left: 0.5rem;
}

//Partials
// @import 'partials/menu';
@import 'partials/header';
@import 'partials/subheader';
@import 'partials/base';
@import 'partials/button';
@import 'partials/ribbon';
@import 'partials/themed-container';
@import 'partials/preloader';
@import 'partials/footer';
@import 'partials/wallets';
@import 'partials/exchanges';
@import 'partials/sidebar';
@import 'partials/benefits';
@import 'partials/reason';
@import 'partials/mentions';
@import 'partials/sponsors-2018';
@import 'partials/partners';

//Pages
@import 'pages/home';
@import 'pages/about';
@import 'pages/business';
@import 'pages/press';
@import 'pages/presskit';
@import 'pages/pressreleases';
@import 'pages/pressrelease';
@import 'pages/wallets';
@import 'pages/milestones';
@import 'pages/get-verge';
@import 'pages/vendors';
@import 'pages/key-tech';
@import 'pages/getstarted';
@import 'pages/meetup';
@import 'pages/meetup2018';
@import 'pages/meetup2019';
@import 'pages/team';
@import 'pages/partnership-donation-rewards';
@import 'pages/partnership-donation-mentions';
@import 'pages/fbv';
@import 'pages/find-us';
@import 'partials/learnmore';
@import 'partials/markdown';
@import 'partials/responsive-display';
@import 'partials/community';
